// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// AdminLTE
@import '~admin-lte/dist/css/adminlte.css';

// Fontawesome
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Sweetalert2
@import 'sweetalert2/src/sweetalert2.scss';

// Select2
@import 'select2/src/scss/core.scss';

// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

@import "~smartwizard/dist/css/smart_wizard.min.css";
@import "~smartwizard/dist/css/smart_wizard_theme_arrows.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link.router-link-exact-active {
  color: #fff !important;
  background-color: #007bff;
}

body::-webkit-scrollbar, .content-wrapper::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}
body::-webkit-scrollbar-thumb, .content-wrapper::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.info-box-number {
    font-size: 20px;
}

body {
  font-size: 14px !important;
}

.scroll {
    overflow: scroll;
}

// TV LAYOUT
.img-tv {
  width: 100%;
}

.layout-icon {
  width: 40%;
  // float: left;
  // margin-right: 20px;
}

.pointer {
  cursor: pointer;
}

.media-icon-link:hover {
  text-decoration: none;
}

.media-icon-link .info-box:hover {
  background-color: #DDE4E9 !important;
}

// #monitor {
// 	background: #000;
// 	position: relative;
// 	border-top: 3px solid #888;
// 	// margin: 5%;
// 	padding: 2% 2% 4% 2%;
// 	border-radius: 10px;
// 	border-bottom-left-radius: 50% 2%;
// 	border-bottom-right-radius: 50% 2%;
// 	transition: margin-right 1s;
// 	width: 60%;
// 	margin: 2% auto;
// }
//
// // #monitor:after {
// // 	content: '';
// // 	display: block;
// // 	position: absolute;
// // 	bottom: 3%;
// // 	left: 36%;
// // 	height: .5%;
// // 	width: 28%;
// // 	background: #ddd;
// // 	border-radius: 50%;
// // 	box-shadow: 0 0 3px 0 white;
// // }
//
// #monitorscreen {
// 	position: relative;
//   background-color: #777;
// 	background-size: cover;
// 	background-position: top center;
// 	height: 0;
// 	padding-bottom: 56.25%;
// 	overflow: hidden;
// }
//
// .monitor-title {
// 	position: absolute;
//   width: 60%;
//   left: 20%;
//   color: #FFFF00;
//   text-align: center;
// }
// .monitor-title .mosque-name {
// 	margin: 0;
// 	font-weight: bolder;
// 	font-size: 16px;
// }
// .monitor-title .mosque-address {
// 	margin: 0;
// 	font-size: 12px;
// }
//
// @media all and (min-width: 960px) {
// 	#monitor {
// 		-webkit-animation: tvflicker .2s infinite alternate;
// 		-moz-animation:    tvflicker .5s infinite alternate;
// 		-o-animation:      tvflicker .5s infinite alternate;
// 		animation:         tvflicker .5s infinite alternate;
// 	}
//
// 	@-webkit-keyframes tvflicker {
// 	  0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
// 	  100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
// 	}
// 	@-moz-keyframes tvflicker {
// 	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
// 	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
// 	}
// 	@-o-keyframes tvflicker {
// 	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
// 	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
// 	}
// 	@keyframes tvflicker {
// 	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
// 	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
// 	}
// }
