<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Layout Informatif</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item active">Layout Informatif</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid" style="background-color: #fff;">

            <div class="row justify-content-md-center mb-3">
                <div class="col-md-12">
                    <!-- <div id="monitor">
                      <div id="monitorscreen">
                          <div class="monitor-title">
                              <p class="mosque-name"></p>
                              <p class="mosque-address"></p>
                          </div>
                      </div>
                    </div> -->
                    <img class="img-tv" :src="`${globalVar.publicPath}images/layout-informative.jpeg`" alt="">
                </div>
            </div>

            <div class="row justify-content-md-center mb-3" style="margin: 10px;">
                <div class="col-md-12 text-center text-uppercase mb-3 font-weight-bold">
                    <h2 style="color: #0E4FBA; font-weight: 1000;">
                        Pengaturan Konten
                    </h2>
                </div>
                <div class="col-md-4">
                    <router-link to="/mosque" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/masjid.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Informasi Masjid
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Segala informasi tentang nama masjid, alamat dll
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-4">
                    <router-link to="/image/background/informative" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/photo.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Gambar Slide
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Gambar slide yg akan ditampilkan
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-4">
                    <router-link to="/preacher" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/bilal.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Khotib & Bilal
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Daftar nama khotib dan bilal setiap tanggal
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-4">
                    <router-link to="/donature" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/donatur.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Donatur
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Informasi nama dan jumlah donatur masjid
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-4">
                    <router-link to="/event" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/datetime.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Acara
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Menampilkan acara yang akan datang
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <!-- <div class="col-md-4">
                    <router-link to="/text/info" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/teks.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Pesan Singkat
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Menampilkan informasi pesan singkat
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div> -->
                <div class="col-md-4">
                    <router-link to="/setting/general" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/datetime.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Jadwal Sholat
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Pengaturan lama waktu adzan, iqomah dan sholat
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-4">
                    <router-link to="/text/running/informative" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/teks.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Teks Berjalan
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Informasi teks berjalan pada bagian bawah
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-md-4">
                    <router-link to="/text/arabic" class="media-icon-link">
                        <div class="info-box bg-light pointer shadow rounded">
                            <div class="info-box-content text-center">
                                <div class="row">
                                    <div class="cold-lg-6 col-md-12 col-sm-12 mb-2">
                                        <img class="layout-icon" :src="`${globalVar.publicPath}images/icon/teks.png`" alt="">
                                    </div>
                                    <div class="cold-lg-6 col-md-12 col-sm-12">
                                        <span class="info-box-number text-center text-muted mb-0">
                                            Teks Arab
                                        </span>
                                        <span class="info-box-text text-center text-muted" style="white-space: unset;">
                                            Teks dalam bahasa arab beserta terjemahannya
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    export default {
          created() {
          },
          mounted() {
          },
          data() {
              return {
                  globalVar: this.$attrs.globalVar,
              }
          },
          methods: {
          },
          filters: {
          },
          activated() {
              let self = this
          },
    }
</script>
