<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

        <!-- <div class="row mb-4">
          <div class="col-sm-12">
            <h5 class="m-0 text-dark text-uppercase">Ringkasan</h5>
          </div>
        </div> -->

        <div class="row d-none">
          <div class="col-12 col-sm-4 col-md-4">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text text-uppercase">Media Tv</span>
                <span class="info-box-number">
                    0
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-4 col-md-4">
            <div class="info-box mb-3">
              <div class="info-box-content">
                <span class="info-box-text text-uppercase">Kotip dan Bilal</span>
                <span class="info-box-number">
                    0
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-4 col-md-4">
            <div class="info-box mb-3">
              <div class="info-box-content">
                <span class="info-box-text text-uppercase">Donatur</span>
                <span class="info-box-number">
                    0
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
</template>

<script>

    let date = new Date();

    export default {
          created() {
          },
          mounted() {
          },
          components: {
          },
          data() {
              return {
                  globalVar: this.$attrs.globalVar,
              }
          },
          methods: {
          },
          watch: {
          },
          activated() {
          },
    }
</script>
