<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Donatur</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item active">Donatur</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <button type="button" class="btn btn-primary" @click="goback">
                                  <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Kembali ke layout
                                </button>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ dataTable.date | formatDate }}</td>
                                        <td>{{ dataTable.name }}</td>
                                        <td>{{ dataTable.address }}</td>
                                        <td class="text-right">{{ dataTable.amount | formatNumber }}</td>
                                        <td v-html="statusLabelWithDate(dataTable)"></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm" title="Non Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 1">
                                              <i class="fas fa-ban"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm" title="Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 0">
                                              <i class="fas fa-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                              <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel" v-if="!form.id">
                Tambah Data Donatur
              </h5>
              <h5 class="modal-title" id="modalFormLabel" v-else>
                Ubah Data Donatur
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                      <label for="date" class="col-sm-4 col-form-label">
                          Tanggal
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="date"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">
                          Nama
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                          <has-error :form="form" field="name"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="address" class="col-sm-4 col-form-label">
                          Alamat
                      </label>
                      <div class="col-sm-8">
                          <textarea class="form-control" name="address" id="address" ref="address" :class="{ 'is-invalid': form.errors.has('address') }" v-model="form.address" rows="4" placeholder="Alamat"></textarea>
                          <has-error :form="form" field="address"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="amount" class="col-sm-4 col-form-label">
                          Jumlah
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="amount" id="amount" ref="amount" placeholder="Jumlah" v-model="form.amount" :class="{ 'is-invalid': form.errors.has('amount') }" autocomplete="off" @keypress="isNumber($event)">
                          <has-error :form="form" field="amount"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="information" class="col-sm-4 col-form-label">
                          Keterangan
                      </label>
                      <div class="col-sm-8">
                          <textarea class="form-control" name="information" id="information" ref="information" :class="{ 'is-invalid': form.errors.has('information') }" v-model="form.information" rows="4" placeholder="Keterangan"></textarea>
                          <has-error :form="form" field="information"></has-error>
                      </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'

    let date = new Date();

    export default {
          created() {
              this.loadData();
              Fire.$on('AfterLoaded', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Tanggal', name: 'date', sortable: true},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'Alamat', name: 'address', sortable: true},
                  {label: 'Jumlah', name: 'amount', sortable: true},
                  {label: 'Status', name: 'status', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      acp: 'masjid',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      date: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                      name: '',
                      address: '',
                      amount: 0,
                      information: '',
                  }),
              }
          },
          components: {
              Datepicker,
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData() {
                  let self = this
                  self.deleteDefaultHeaders()

                  self.tableData.draw++;
                  axios.get(`${self.globalVar.apiUrl}donature`, {
                    params: self.tableData,
                    headers: self.globalVar.headers,
                  })
                  .then(response => {
                      let data = response.data;
                      if (self.tableData.draw == data.draw) {
                          self.dataTables = data.data.data;
                          self.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              openModal(data = null) {
                  this.form.clear();
                  this.form.reset();
                  this.form.date = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                      if (!data.date) {
                        this.form.date = this.formatDateDefault(new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())))
                      }
                  }
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              submitData() {
                  let self = this
                  self.$Progress.start();
                  self.showProgressBar()

                  this.deleteDefaultHeaders()

                  let method = ''
                  self.form.date = self.formatDateDefault(self.form.date)

                  if (self.form.id) {
                      method = axios.put(`${self.globalVar.apiUrl}donature/${self.form.id}`,
                          self.form,
                          {
                              headers: self.globalVar.headers,
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  } else {
                      method = axios.post(`${self.globalVar.apiUrl}donature`,
                          self.form,
                          {
                              headers: self.globalVar.headers,
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  }

                  method.then(response => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      Fire.$emit('AfterLoaded');
                      $("#modalForm").modal("hide");
                  })
                  .catch(error => {
                      let message = 'Something went wrong.';
                      if (error.response) {
                          message = error.response.data.message;
                          Swal.fire(
                              'Alert!',
                              message,
                              'warning'
                          )
                      }
                      self.$Progress.fail();
                  });
              },
              activeData(data) {
                  let self = this

                  let status = 0
                  let text = 'Record will be Deactivated'
                  if (data.status == 0) {
                      status = 1
                      text = 'Record will be Activated'
                  }

                  Swal.fire({
                      title: 'Are you sure?',
                      text: text,
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.put(`${self.globalVar.apiUrl}donature/status/${data.id}`,
                              {
                                  status: status,
                              },
                              {
                                  headers: self.globalVar.headers,
                              }
                          )
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              deleteData(data) {
                  let self = this

                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.delete(`${self.globalVar.apiUrl}donature/${data.id}`, {
                              headers: self.globalVar.headers,
                          })
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              statusLabelWithDate(data) {
                if (data.status == 0) {
                  return '<span class="badge badge-danger">Non Aktif</span>';
                } else {

                  let dateToday = moment(date).format('YYYY-MM-DD');
                  let dateParam = moment(data.date).format('YYYY-MM-DD');

                  if (moment(dateParam).isSame(moment(dateToday))) {
                    return '<span class="badge badge-success">Aktif</span>';
                  } else if (moment(dateParam).isAfter(moment(dateToday))) {
                    return '<span class="badge badge-warning">Pending</span>';
                  } else if (moment(dateParam).isBefore(moment(dateToday))) {
                    return '<span class="badge badge-danger">Expired</span>';
                  }
                }
              },
          },
          watch: {
              'form.amount' (to, from) {
                  let formatted = this.formatNumber(to)
                  this.form.amount = formatted
              },
          },
          activated() {
              let self = this
              Fire.$emit('AfterLoaded');
          },
    }
</script>
