<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark" v-if="$route.params.layout == 'informative'">
                  Gambar Slide
              </h1>
              <h1 class="m-0 text-dark" v-else>
                  Gambar Latar
              </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Gambar</a></li>
                <li class="breadcrumb-item active" v-if="$route.params.layout == 'informative'">
                    Gambar Slide
                </li>
                <li class="breadcrumb-item active" v-else>
                    Gambar Latar
                </li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <router-link to="/content/informative" class="btn btn-primary" v-if="$route.params.layout == 'informative'">
                                    <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Kembali ke layout
                                </router-link>
                                <router-link to="/content/clock" class="btn btn-primary" v-else>
                                    <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Kembali ke layout
                                </router-link>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>
                                            <img :src="dataTable.image" class="img-fluid" style="width: 200px;">
                                        </td>
                                        <td>{{ dataTable.name }}</td>
                                        <td>{{ dataTable.start_at | formatDate }}</td>
                                        <td v-if="dataTable.always_show == 0">
                                            {{ dataTable.end_at | formatDate }}
                                        </td>
                                        <td v-else>
                                            -
                                        </td>
                                        <td v-html="statusLabelWithDate(dataTable)"></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm" title="Non Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 1">
                                              <i class="fas fa-ban"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm" title="Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 0">
                                              <i class="fas fa-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header" v-if="$route.params.layout == 'informative'">
              <h5 class="modal-title" id="modalFormLabel" v-if="!form.id">
                  Tambah Data Gambar Slide
              </h5>
              <h5 class="modal-title" id="modalFormLabel" v-else>
                  Ubah Data Gambar Slide
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-header" v-else>
              <h5 class="modal-title" id="modalFormLabel" v-if="!form.id">
                  Tambah Data Gambar Latar
              </h5>
              <h5 class="modal-title" id="modalFormLabel" v-else>
                  Ubah Data Gambar Latar
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row" v-if="cropstatus">
                    <div class="col-sm-12">
                      <Cropper
                      		:src="image_default_crop"
                            ref="cropper"
                        />
                    </div>
                  </div>
                  <div class="form-group row" v-else>
                      <div class="col-sm-12 text-center">
                          <canvas id="imgCanvas" ref="imgCanvas" style="width: 100%; height: 100%;" class="d-none"></canvas>
                          <img id="image_preview" :src="image_default" class="img-fluid">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-12 text-center">
                          <button class="btn btn-primary" type="button" name="button" @click="activeCrop" v-if="!cropstatus">
                            <i class="fas fa-edit"></i> Crop
                          </button>
                          <button class="btn btn-danger" type="button" name="button" @click="nonactiveCrop" v-else>
                            <i class="fas fa-ban"></i> Batal
                          </button>
                          <button class="btn btn-success" type="button" name="button" @click="cropImage" v-if="cropstatus">
                            <i class="fas fa-save"></i> Simpan
                          </button>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">
                          Gambar
                      </label>
                      <div class="col-sm-8">
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" name="image" id="image" ref="image" placeholder="Gambar" autocomplete="off" @change="handleImageUpload" :required="form.id ? false : true">
                              <label class="custom-file-label" for="image">Choose file</label>
                          </div>
                          <small v-if="form.id" class="form-text text-muted">
                              Kosongkan jika tidak diganti.
                          </small>
                          <small class="form-text text-muted">
                              File tipe hanya jpeg, png, bmp, gif, svg, atau webp
                          </small>
                          <small class="form-text text-muted">
                              Ukuran maksimal 1024Kb
                          </small>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">
                          Nama
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                          <has-error :form="form" field="name"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="information" class="col-sm-4 col-form-label">
                          Keterangan
                      </label>
                      <div class="col-sm-8">
                          <textarea class="form-control" name="information" id="information" ref="information" :class="{ 'is-invalid': form.errors.has('information') }" v-model="form.information" rows="4" placeholder="Keterangan"></textarea>
                          <has-error :form="form" field="information"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="layout" class="col-sm-4 col-form-label">
                          Layout
                      </label>
                      <div class="col-sm-8" :key="renderingCountLayout">
                          <select2 url="" name="layout" :selecteditems="selecteditemsLayout" identifier="layout" placeholder="Layout" ref="layout" @changed="changeLayout" required>
                          </select2>
                          <has-error :form="form" field="layout"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="start_at" class="col-sm-4 col-form-label">
                          Tanggal Mulai
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="start_at" id="start_at" ref="start_at" placeholder="Tanggal Mulai" v-model="form.start_at" :class="{ 'is-invalid': form.errors.has('start_at') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="start_at"></has-error>
                      </div>
                  </div>
                  <div class="form-group row" :class="(form.always_show) ? 'd-none' : ''">
                      <label for="end_at" class="col-sm-4 col-form-label">
                          Tanggal Selesai
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="end_at" id="end_at" ref="end_at" placeholder="Tanggal Selesai" v-model="form.end_at" :class="{ 'is-invalid': form.errors.has('end_at') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="end_at"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="always_show" class="col-sm-4 col-form-label">
                          Selalu Ditampilkan
                      </label>
                      <div class="col-sm-8">
                          <div class="custom-control custom-switch pointer">
                              <input type="checkbox" class="custom-control-input" id="always_show" name="always_show" ref="always_show" v-model="form.always_show" :class="{ 'is-invalid': form.errors.has('always_show') }">
                              <label class="custom-control-label" for="always_show" v-if="!form.always_show">Tidak Aktif</label>
                              <label class="custom-control-label" for="always_show" v-else>Aktif</label>
                          </div>
                          <has-error :form="form" field="always_show"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="view_layout" class="col-sm-4 col-form-label">
                          Tampilkan
                      </label>
                      <div class="col-sm-8" :key="renderingCountLayoutView">
                          <select2 url="" name="view_layout" :selecteditems="selecteditemsLayoutView" identifier="view_layout" placeholder="LayoutView" ref="view_layout" @changed="changeLayoutView" required>
                          </select2>
                          <has-error :form="form" field="view_layout"></has-error>
                      </div>
                  </div>
                  <!-- <div class="form-group row">
                      <label for="show_slide" class="col-sm-4 col-form-label">
                          Slide Show
                      </label>
                      <div class="col-sm-8">
                          <div class="custom-control custom-switch pointer">
                              <input type="checkbox" class="custom-control-input" id="show_slide" name="show_slide" ref="show_slide" v-model="form.show_slide" :class="{ 'is-invalid': form.errors.has('show_slide') }">
                              <label class="custom-control-label" for="show_slide" v-if="!form.show_slide">Tidak Aktif</label>
                              <label class="custom-control-label" for="show_slide" v-else>Aktif</label>
                          </div>
                          <has-error :form="form" field="show_slide"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="show_full" class="col-sm-4 col-form-label">
                          Full Screen
                      </label>
                      <div class="col-sm-8">
                          <div class="custom-control custom-switch pointer">
                              <input type="checkbox" class="custom-control-input" id="show_full" name="show_full" ref="show_full" v-model="form.show_full" :class="{ 'is-invalid': form.errors.has('show_full') }">
                              <label class="custom-control-label" for="show_full" v-if="!form.show_full">Tidak Aktif</label>
                              <label class="custom-control-label" for="show_full" v-else>Aktif</label>
                          </div>
                          <has-error :form="form" field="show_full"></has-error>
                      </div>
                  </div> -->
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'
    import { Cropper } from 'vue-advanced-cropper'

    let date = new Date();

    export default {
          created() {
              this.loadData();
              Fire.$on('AfterLoaded', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Gambar', name: 'image', sortable: true},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'Mulai', name: 'start_at', sortable: true},
                  {label: 'Selesai', name: 'end_at', sortable: true},
                  {label: 'Status', name: 'status', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCountLayout: 0,
                  selecteditemsLayout: [
                      {
                          id: 1,
                          name: 'Hanya Jam'
                      },
                      {
                          id: 2,
                          name: 'Informatif'
                      },
                  ],
                  renderingCountLayoutView: 0,
                  selecteditemsLayoutView: [
                      {
                          id: 1,
                          name: 'Tampilkan Semua'
                      },
                      {
                          id: 2,
                          name: 'Slideshow Saja'
                      },
                      {
                          id: 3,
                          name: 'Full Screen Saja'
                      },
                  ],
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      acp: 'masjid',
                      layout: 1,
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  image_default: this.$attrs.globalVar.apiStorage+'images/default.svg',
                  image_default_crop: this.$attrs.globalVar.apiStorage+'images/default.svg',
                  form: new Form({
                      id: '',
                      name: '',
                      information: '',
                      start_at: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                      end_at: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                      layout: '',
                      always_show: false,
                      view_layout: '',
                      // show_slide: true,
                      // show_full: true,
                  }),
                  cropstatus: false,
              }
          },
          components: {
              Datepicker,
              Cropper,
          },
          methods: {
              changeLayout() {
                  let self = this
                  let layoutId = 0
                  if ($("#layout").select2('data')[0]) {
                      layoutId = $("#layout").select2('data')[0].id
                  }

                  self.form.layout = parseInt(layoutId)
              },
              changeLayoutView() {
                  let self = this
                  let viewLayoutId = 0
                  if ($("#view_layout").select2('data')[0]) {
                      viewLayoutId = $("#view_layout").select2('data')[0].id
                  }

                  self.form.view_layout = parseInt(viewLayoutId)
              },
              activeCrop() {
                  this.cropstatus = true
              },
              nonactiveCrop() {
                  this.cropstatus = false
              },
              cropImage() {
                  const {coordinates, canvas} = this.$refs.cropper.getResult()
                  this.coordinates = coordinates
                  // You able to do different manipulations at a canvas
                  // but there we just get a cropped image
                  this.image_default = canvas.toDataURL("image/png")
                  this.nonactiveCrop()
              },
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData() {
                  let self = this
                  self.deleteDefaultHeaders()

                  if (self.$route.params && self.$route.params.layout) {
                      if (self.$route.params.layout == 'clock') {
                          self.tableData.layout = 1
                          self.form.layout = 1
                      } else if (self.$route.params.layout == 'informative') {
                          self.tableData.layout = 2
                          self.form.layout = 2
                      }
                  }
                  self.tableData.draw++;
                  axios.get(`${self.globalVar.apiUrl}image/background`, {
                    params: self.tableData,
                    headers: self.globalVar.headers,
                  })
                  .then(response => {
                      let data = response.data;
                      if (self.tableData.draw == data.draw) {
                          self.dataTables = data.data.data;
                          self.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              openModal(data = null) {
                  $("#layout").select2("destroy")
                  this.form.clear();
                  this.form.reset();
                  this.form.start_at = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  this.form.end_at = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  this.cropstatus = false
                  this.form.always_show = false
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                      if (this.form.layout == 1) {
                          document.getElementById("layout").selectedIndex = 0
                      } else {
                          document.getElementById("layout").selectedIndex = 1
                      }
                      this.image_default = data.image
                      this.image_default_crop = data.image

                      if (data.view_layout) {
                        if (data.view_layout.includes(1) && data.view_layout.includes(2)) {
                          document.getElementById("view_layout").selectedIndex = 0
                          this.form.view_layout = 1
                        } else if (data.view_layout.includes(1)) {
                          document.getElementById("view_layout").selectedIndex = 1
                          this.form.view_layout = 2
                        } else if (data.view_layout.includes(2)) {
                          document.getElementById("view_layout").selectedIndex = 2
                          this.form.view_layout = 3
                        }
                      }

                      this.drawImageFromWebUrl(`${this.globalVar.apiUrl}image/background/file/${data.id}`)
                      if (!data.start_at) {
                        this.form.start_at = this.formatDateDefault(new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())))
                      }
                      if (!data.end_at) {
                        this.form.end_at = this.formatDateDefault(new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())))
                      }
                  }
                  if (!this.image_default) {
                      this.image_default = this.$attrs.globalVar.apiStorage+'images/default.svg'
                      this.image_default_crop = this.$attrs.globalVar.apiStorage+'images/default.svg'
                  }
                  if (!this.form.layout) {
                      this.form.layout = this.tableData.layout
                  }
                  $("#layout").select2({
                      width: '100%'
                  })
                  if (!this.form.view_layout) {
                    this.form.view_layout = 1
                  }
                  $("#view_layout").select2({
                    width: '100%'
                  })
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              drawImageFromWebUrl(sourceurl) {
                  let self = this
                  var canvas = document.getElementById("imgCanvas");
                  var img = new Image();
                  img.crossOrigin = "https://console.displaydigital.co.id";

                  img.addEventListener("load", function () {

                      canvas.width = img.width
                      canvas.height = img.height

                      var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
                      var x = (canvas.width / 2) - (img.width / 2) * scale;
                      var y = (canvas.height / 2) - (img.height / 2) * scale;

                      // The image can be drawn from any source
                      // canvas.getContext("2d").drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);
                      canvas.getContext("2d").drawImage(img, x, y, img.width * scale, img.height * scale);

                      // However the execution of any of the following methods will make your script fail
                      // if your image doesn't has the right permissions
                      // console.log(canvas.toDataURL());
                      // canvas.getContext("2d").getImageData();
                      canvas.toDataURL();
                      self.image_default = canvas.toDataURL("image/png")
                      self.image_default_crop = canvas.toDataURL("image/png")
                  });

                  img.setAttribute("src", sourceurl);
              },
              handleImageUpload() {
                  let self = this
                  let file = self.$refs.image.files[0];
                  if (file) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // document.getElementById('image_preview').src = e.target.result;
                        self.image_default = e.target.result
                        self.image_default_crop = e.target.result
                    }

                    reader.readAsDataURL(file);
                  }
              },
              submitData() {
                  let self = this
                  self.$Progress.start();
                  self.showProgressBar()

                  this.deleteDefaultHeaders()

                  let method = ''
                  // self.form.start_at = self.formatDateDefault(self.form.start_at)
                  // self.form.end_at = self.formatDateDefault(self.form.end_at)

                  var form = document.getElementById('formAdd');
                  var formData = new FormData(form);
                  var blobImage = self.dataURItoBlob(self.image_default)
                  // formData.append('image', this.$refs.image.files[0]);
                  formData.append('image', blobImage);

                  if (self.form.id) {
                      method = axios.post(`${self.globalVar.apiUrl}image/background/update/${self.form.id}`,
                          formData,
                          {
                              headers: {
                                  'Authorization': localStorage.getItem('token'),
                                  'Content-Type': 'multipart/form-data',
                              },
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  } else {
                      method = axios.post(`${self.globalVar.apiUrl}image/background`,
                          formData,
                          {
                              headers: {
                                  'Authorization': localStorage.getItem('token'),
                                  'Content-Type': 'multipart/form-data',
                              },
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  }

                  method.then(response => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      Fire.$emit('AfterLoaded');
                      $("#modalForm").modal("hide");
                  })
                  .catch(error => {
                      let message = 'Something went wrong.';
                      if (error.response) {
                          message = error.response.data.message;
                          Swal.fire(
                              'Alert!',
                              message,
                              'warning'
                          )
                      }
                      self.$Progress.fail();
                  });
              },
              activeData(data) {
                let self = this

                let status = 0
                let text = 'Record will be Deactivated'
                if (data.status == 0) {
                  status = 1
                  text = 'Record will be Activated'
                }

                Swal.fire({
                  title: 'Are you sure?',
                  text: text,
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes!'
                }).then((result) => {
                  if (result.value) {

                    this.deleteDefaultHeaders()

                    axios.put(`${self.globalVar.apiUrl}image/background/status/${data.id}`,
                      {
                        status: status,
                      },
                      {
                        headers: self.globalVar.headers,
                      }
                    )
                    .then(function (response) {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      Fire.$emit('AfterLoaded');
                    })
                    .catch(function (error) {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                    });
                  }
                })
              },
              deleteData(data) {
                  let self = this

                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.delete(`${self.globalVar.apiUrl}image/background/${data.id}`, {
                              headers: self.globalVar.headers,
                          })
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              statusLabelWithDate(data) {
                  if (data.status == 0) {
                      return '<span class="badge badge-danger">Non Aktif</span>';
                  } else {
                      if (data.always_show == 1) {
                          return '<span class="badge badge-success">Aktif</span>';
                      } else {
                          if (moment(data.start_at).isAfter(moment())) {
                              return '<span class="badge badge-warning">Pending</span>';
                          } else if (moment(data.end_at).isBefore(moment())) {
                              return '<span class="badge badge-danger">Expired</span>';
                          } else {
                              return '<span class="badge badge-success">Aktif</span>';
                          }
                      }
                  }
              },
          },
          watch: {
              'form.start_at' (to, from) {
                  let start_at = moment(this.form.start_at);
                  let end_at = moment(this.form.end_at);

                  if (moment(start_at).isAfter(end_at)) {
                      this.form.start_at = this.formatDateDefault(end_at)
                  }
              },
              'form.end_at' (to, from) {
                  let start_at = moment(this.form.start_at);
                  let end_at = moment(this.form.end_at);

                  if (moment(end_at).isBefore(start_at)) {
                      this.form.end_at = this.formatDateDefault(start_at)
                  }
              },
          },
          activated() {
              let self = this
              Fire.$emit('AfterLoaded');
          },
    }
</script>
