<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Galeri Foto</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Gambar</a></li>
                <li class="breadcrumb-item active">Galeri Foto</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>
                                            <img id="image_preview" :src="dataTable.image" class="img-fluid" style="width: 200px;">
                                        </td>
                                        <td>{{ dataTable.name }}</td>
                                        <td>{{ dataTable.start_at | formatDate }}</td>
                                        <td>{{ dataTable.end_at | formatDate }}</td>
                                        <td v-html="statusLabel(dataTable.status)"></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm" title="Non Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 1">
                                              <i class="fas fa-ban"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm" title="Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 0">
                                              <i class="fas fa-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                      <div class="col-sm-4">
                      </div>
                      <div class="col-sm-8 text-center">
                          <img id="image_preview" :src="image_default" class="img-fluid" style="width: 60%;">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">
                          Foto
                      </label>
                      <div class="col-sm-8">
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" name="image" id="image" ref="image" placeholder="Foto" autocomplete="off" @change="handleImageUpload" :required="form.id ? false : true">
                              <label class="custom-file-label" for="image">Choose file</label>
                          </div>
                          <small v-if="form.id" class="form-text text-muted">
                              Kosongkan jika tidak diganti.
                          </small>
                          <small class="form-text text-muted">
                              File tipe hanya jpeg, png, bmp, gif, svg, atau webp
                          </small>
                          <small class="form-text text-muted">
                              Ukuran maksimal 1024Kb
                          </small>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">
                          Nama
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                          <has-error :form="form" field="name"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="information" class="col-sm-4 col-form-label">
                          Keterangan
                      </label>
                      <div class="col-sm-8">
                          <textarea class="form-control" name="information" id="information" ref="information" :class="{ 'is-invalid': form.errors.has('information') }" v-model="form.information" rows="4" placeholder="Keterangan"></textarea>
                          <has-error :form="form" field="information"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="start_at" class="col-sm-4 col-form-label">
                          Tanggal Mulai
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="start_at" id="start_at" ref="start_at" placeholder="Tanggal Mulai" v-model="form.start_at" :class="{ 'is-invalid': form.errors.has('start_at') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="start_at"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="end_at" class="col-sm-4 col-form-label">
                          Tanggal Selesai
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="end_at" id="end_at" ref="end_at" placeholder="Tanggal Selesai" v-model="form.end_at" :class="{ 'is-invalid': form.errors.has('end_at') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="end_at"></has-error>
                      </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'

    let date = new Date();

    export default {
          created() {
              this.loadData();
              Fire.$on('AfterLoaded', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Foto', name: 'image', sortable: true},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'Mulai', name: 'start_at', sortable: true},
                  {label: 'Selesai', name: 'end_at', sortable: true},
                  {label: 'Status', name: 'status', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      acp: 'masjid',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  image_default: this.$attrs.globalVar.apiStorage+'images/default.svg',
                  form: new Form({
                      id: '',
                      name: '',
                      information: '',
                      start_at: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                      end_at: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                  }),
              }
          },
          components: {
              Datepicker,
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData() {
                  let self = this
                  self.deleteDefaultHeaders()

                  self.tableData.draw++;
                  axios.get(`${self.globalVar.apiUrl}image/photo`, {
                    params: self.tableData,
                    headers: self.globalVar.headers,
                  })
                  .then(response => {
                      let data = response.data;
                      if (self.tableData.draw == data.draw) {
                          self.dataTables = data.data.data;
                          self.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              openModal(data = null) {
                  this.form.clear();
                  this.form.reset();
                  this.form.start_at = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  this.form.end_at = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                      this.image_default = data.image
                  }
                  if (!this.image_default) {
                      this.image_default = this.$attrs.globalVar.apiStorage+'images/default.svg'
                  }
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              handleImageUpload() {
                  let self = this
                  let file = self.$refs.image.files[0];
                  if (file) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // document.getElementById('image_preview').src = e.target.result;
                        self.image_default = e.target.result
                    }

                    reader.readAsDataURL(file);
                  }
              },
              submitData() {
                  let self = this
                  self.$Progress.start();

                  this.deleteDefaultHeaders()

                  let method = ''
                  // self.form.start_at = self.formatDateDefault(self.form.start_at)
                  // self.form.end_at = self.formatDateDefault(self.form.end_at)

                  var form = document.getElementById('formAdd');
                  var formData = new FormData(form);
                  // formData.append('image', this.$refs.image.files[0]);

                  if (self.form.id) {
                      method = axios.post(`${self.globalVar.apiUrl}image/photo/update/${self.form.id}`,
                          formData,
                          {
                              headers: {
                                  'Authorization': localStorage.getItem('token'),
                                  'Content-Type': 'multipart/form-data',
                              },
                          }
                      )
                  } else {
                      method = axios.post(`${self.globalVar.apiUrl}image/photo`,
                          formData,
                          {
                              headers: {
                                  'Authorization': localStorage.getItem('token'),
                                  'Content-Type': 'multipart/form-data',
                              },
                          }
                      )
                  }

                  method.then(response => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      Fire.$emit('AfterLoaded');
                      $("#modalForm").modal("hide");
                  })
                  .catch(error => {
                      let message = 'Something went wrong.';
                      if (error.response) {
                          message = error.response.data.message;
                          Swal.fire(
                              'Alert!',
                              message,
                              'warning'
                          )
                      }
                      self.$Progress.fail();
                  });
              },
              activeData(data) {
                let self = this

                let status = 0
                let text = 'Record will be Deactivated'
                if (data.status == 0) {
                  status = 1
                  text = 'Record will be Activated'
                }

                Swal.fire({
                  title: 'Are you sure?',
                  text: text,
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes!'
                }).then((result) => {
                  if (result.value) {

                    this.deleteDefaultHeaders()

                    axios.put(`${self.globalVar.apiUrl}image/photo/status/${data.id}`,
                      {
                        status: status,
                      },
                      {
                        headers: self.globalVar.headers,
                      }
                    )
                    .then(function (response) {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      Fire.$emit('AfterLoaded');
                    })
                    .catch(function (error) {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                    });
                  }
                })
              },
              deleteData(data) {
                  let self = this

                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.delete(`${self.globalVar.apiUrl}image/photo/${data.id}`, {
                              headers: self.globalVar.headers,
                          })
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
          },
          watch: {
              'form.start_at' (to, from) {
                  let start_at = moment(this.form.start_at);
                  let end_at = moment(this.form.end_at);

                  if (moment(start_at).isAfter(end_at)) {
                      this.form.start_at = this.formatDateDefault(end_at)
                  }
              },
              'form.end_at' (to, from) {
                  let start_at = moment(this.form.start_at);
                  let end_at = moment(this.form.end_at);

                  if (moment(end_at).isBefore(start_at)) {
                      this.form.end_at = this.formatDateDefault(start_at)
                  }
              },
          },
          activated() {
              let self = this
              Fire.$emit('AfterLoaded');
          },
    }
</script>
