<template>
    <div class="wrapper">

        <keep-alive>
          <navbar-backoffice :globalVar="globalVar"/>
        </keep-alive>

        <keep-alive v-if="globalVar.statusVerification >= 0">
          <sidebar-backoffice :globalVar="globalVar"/>
        </keep-alive>

        <div class="content-wrapper" :style="(globalVar.statusVerification < 0) ? 'margin: unset;' : ''">
            <keep-alive>
                <router-view :globalVar="globalVar"/>
            </keep-alive>
        </div>

        <footer-backoffice :globalVar="globalVar"/>

    </div>
</template>

<script>

    // require('../../filter')

    export default {
        created() {
            this.refreshTokens()
            this.checkAuth()
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar
            }
        },
        components: {
            'navbar-backoffice': () => import(/* webpackChunkName: "js/topbar-backoffice" */ './reusable/Navbar.vue'),
            'sidebar-backoffice': () => import(/* webpackChunkName: "js/sidebar-backoffice" */ './reusable/Sidebar.vue'),
            'footer-backoffice': () => import(/* webpackChunkName: "js/footer-backoffice" */ './reusable/Footer.vue'),
        },
    }
</script>
