<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Informasi Masjid</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item active">Informasi Masjid</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <button type="button" class="btn btn-primary btn-back-mosque d-none" @click="goback">
                                  <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Kembali ke layout
                                </button>
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" class="" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>

                              <div class="row">
                                <div class="col-md-6 col-xs-12">
                                  <div class="form-group row">
                                    <label for="number" class="col-sm-4 col-form-label">
                                      Id Masjid
                                    </label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Id Masjid" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                      <has-error :form="form" field="number"></has-error>
                                      <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                      </small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="name" class="col-sm-4 col-form-label">
                                      Nama Masjid
                                    </label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama Masjid" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                                      <has-error :form="form" field="name"></has-error>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="show_name" class="col-sm-4 col-form-label">
                                      Tampilkan Nama
                                    </label>
                                    <div class="col-sm-8">
                                      <div class="custom-control custom-switch pointer">
                                        <input type="checkbox" class="custom-control-input" id="show_name" name="show_name" ref="show_name" v-model="form.show_name" :class="{ 'is-invalid': form.errors.has('show_name') }">
                                        <label class="custom-control-label" for="show_name" v-if="!form.show_name">Tidak Aktif</label>
                                        <label class="custom-control-label" for="show_name" v-else>Aktif</label>
                                      </div>
                                      <has-error :form="form" field="show_name"></has-error>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="province_id" class="col-sm-4 col-form-label">
                                      Provinsi
                                    </label>
                                    <div class="col-sm-8" :key="renderingCountProvince">
                                      <select2 url="" name="province_id" :selecteditems="selecteditemsProvince" identifier="province_id" placeholder="Provinsi" ref="province_id" @changed="changeProvince" required>
                                      </select2>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="address" class="col-sm-4 col-form-label">
                                      Alamat
                                    </label>
                                    <div class="col-sm-8">
                                      <textarea class="form-control" name="address" rows="4" id="address" ref="address" placeholder="Alamat" v-model="form.address" :class="{ 'is-invalid': form.errors.has('address') }" autocomplete="off" required></textarea>
                                      <has-error :form="form" field="address"></has-error>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="show_address" class="col-sm-4 col-form-label">
                                      Tampilkan Alamat
                                    </label>
                                    <div class="col-sm-8">
                                      <div class="custom-control custom-switch pointer">
                                        <input type="checkbox" class="custom-control-input" id="show_address" name="show_address" ref="show_address" v-model="form.show_address" :class="{ 'is-invalid': form.errors.has('show_address') }">
                                        <label class="custom-control-label" for="show_address" v-if="!form.show_address">Tidak Aktif</label>
                                        <label class="custom-control-label" for="show_address" v-else>Aktif</label>
                                      </div>
                                      <has-error :form="form" field="show_address"></has-error>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="latitude" class="col-sm-4 col-form-label">
                                      Latitude
                                    </label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" name="latitude" id="latitude" ref="latitude" placeholder="Latitude" v-model="form.latitude" :class="{ 'is-invalid': form.errors.has('latitude') }" autocomplete="off" required>
                                      <has-error :form="form" field="latitude"></has-error>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="longitude" class="col-sm-4 col-form-label">
                                      Longitude
                                    </label>
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" name="longitude" id="longitude" ref="longitude" placeholder="Longitude" v-model="form.longitude" :class="{ 'is-invalid': form.errors.has('longitude') }" autocomplete="off" required>
                                      <has-error :form="form" field="longitude"></has-error>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="show_ads" class="col-sm-4 col-form-label">
                                      Tampilkan Iklan
                                    </label>
                                    <div class="col-sm-8">
                                      <div class="custom-control custom-switch pointer">
                                        <input type="checkbox" class="custom-control-input" id="show_ads" name="show_ads" ref="show_ads" v-model="form.show_ads" :class="{ 'is-invalid': form.errors.has('show_ads') }">
                                        <label class="custom-control-label" for="show_ads" v-if="!form.show_ads">Tidak Aktif</label>
                                        <label class="custom-control-label" for="show_ads" v-else>Aktif</label>
                                      </div>
                                      <has-error :form="form" field="show_ads"></has-error>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                  <div class="form-group row">
                                    <div class="col-sm-12 text-center">
                                      <img id="logo_preview" :src="logo_default" class="img-fluid" style="width: 40%;">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="name" class="col-sm-4 col-form-label">
                                      Logo
                                    </label>
                                    <div class="col-sm-8">
                                      <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="logo" id="logo" ref="logo" placeholder="Gambar" autocomplete="off" @change="handleImageUpload" :required="form.id ? false : true">
                                        <label class="custom-file-label" for="logo">Choose file</label>
                                        <div class="text-justify mt-3">
                                          <small v-if="form.id" class="form-text text-muted">
                                            Kosongkan jika tidak diganti.
                                          </small>
                                          <small class="form-text text-muted">
                                            File tipe hanya jpeg, png, bmp, gif, svg, atau webp
                                          </small>
                                          <small class="form-text text-muted">
                                            Ukuran maksimal 1024Kb
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="show_logo" class="col-sm-4 col-form-label">
                                      Tampilkan Logo
                                    </label>
                                    <div class="col-sm-8">
                                      <div class="custom-control custom-switch pointer">
                                        <input type="checkbox" class="custom-control-input" id="show_logo" name="show_logo" ref="show_logo" v-model="form.show_logo" :class="{ 'is-invalid': form.errors.has('show_logo') }">
                                        <label class="custom-control-label" for="show_logo" v-if="!form.show_logo">Tidak Aktif</label>
                                        <label class="custom-control-label" for="show_logo" v-else>Aktif</label>
                                      </div>
                                      <has-error :form="form" field="show_ads"></has-error>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <button type="submit" class="btn btn-success">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    export default {
        created() {
            this.loadProvince()
            Fire.$on('AfterLoaded', () => {
                this.loadData()
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCountProvince: 0,
                form: new Form({
                    id: '',
                    number: '',
                    logo: '',
                    name: '',
                    province_id: 0,
                    address: '',
                    latitude: '',
                    longitude: '',
                    show_ads: '',
                    show_name: '',
                    show_logo: '',
                    show_address: '',
                }),
                selecteditemsProvince: [],
                logo_default: this.$attrs.globalVar.apiStorage+'images/default.svg',
            }
        },
        components: {
        },
        methods: {
            loadProvince() {
                let self = this

                self.deleteDefaultHeaders()

                axios.get(`${self.globalVar.apiUrl}province/select`, {
                    headers: self.globalVar.headers
                })
                .then(response => {
                    self.selecteditemsProvince = []
                    for (var i = 0; i < response.data.length; i++) {
                        var provinceData = {
                            id: response.data[i].id,
                            name: response.data[i].name,
                        }
                        self.selecteditemsProvince.push(provinceData);
                    }
                    self.renderingCountProvince++
                    Fire.$emit('AfterLoaded');
                })
                .catch(error => {
                    if (error.response) {
                    }
                });
            },
            changeProvince() {
                let self = this
                let provinceId = 0
                if ($("#province_id").select2('data')[0]) {
                    provinceId = $("#province_id").select2('data')[0].id
                }

                self.form.province_id = parseInt(provinceId)
            },
            loadData() {
                if (this.$attrs.globalVar) {
                  if (this.$attrs.globalVar.session) {
                    if (this.$attrs.globalVar.session.mosque) {
                      this.form.id = this.$attrs.globalVar.session.mosque.id
                      this.form.number = this.$attrs.globalVar.session.mosque.number
                      this.form.logo = this.$attrs.globalVar.session.mosque.logo
                      this.logo_default = this.$attrs.globalVar.session.mosque.logo
                      this.form.name = this.$attrs.globalVar.session.mosque.name
                      this.form.address = this.$attrs.globalVar.session.mosque.address
                      this.form.latitude = this.$attrs.globalVar.session.mosque.latitude
                      this.form.longitude = this.$attrs.globalVar.session.mosque.longitude
                      this.form.show_ads = this.$attrs.globalVar.session.mosque.show_ads
                      this.form.show_name = this.$attrs.globalVar.session.mosque.show_name
                      this.form.show_address = this.$attrs.globalVar.session.mosque.show_address
                      this.form.show_logo = this.$attrs.globalVar.session.mosque.show_logo
                      if (this.$attrs.globalVar.session.mosque.province) {
                          this.form.province_id = this.$attrs.globalVar.session.mosque.province.id
                          for (var i = 0; i < this.selecteditemsProvince.length; i++) {
                              if (this.selecteditemsProvince[i].id == this.$attrs.globalVar.session.mosque.province.id) {
                                  setTimeout(function(){
                                    if (document.getElementById("province_id")) {
                                      $("#province_id").select2("destroy")
                                      document.getElementById("province_id").selectedIndex = i
                                      $("#province_id").select2({
                                        width: '100%'
                                      })
                                    }
                                  }, 400);
                                  break;
                              }
                          }
                      }
                    }
                  }
                }
            },
            handleImageUpload() {
                let self = this
                let file = self.$refs.logo.files[0];
                if (file) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                      self.logo_default = e.target.result
                  }

                  reader.readAsDataURL(file);
                }
            },
            submitData() {
                let self = this
                self.$Progress.start();
                self.showProgressBar()

                this.deleteDefaultHeaders()
                self.form.latitude = ''
                self.form.longitude = ''

                axios.get(`https://maps.googleapis.com/maps/api/geocode/json`,
                    {
                        params:  {
                            'address': self.form.address,
                            'key': self.globalVar.googleMapKey,
                        },
                    }
                )
                .then(response => {
                    if (response.data.results.length > 0) {

                        self.form.latitude = response.data.results[0].geometry.location.lat
                        self.form.longitude = response.data.results[0].geometry.location.lng

                        document.getElementsByName('latitude')[0].value = response.data.results[0].geometry.location.lat
                        document.getElementsByName('longitude')[0].value  = response.data.results[0].geometry.location.lng

                        self.$Progress.finish();

                        var form = document.getElementById('formAdd');
                        var formData = new FormData(form);

                        axios.post(`${self.globalVar.apiUrl}mosque/${self.form.id}`,
                            formData,
                            {
                                headers:  {
                                    'Authorization': localStorage.getItem('token'),
                                    'Content-Type': 'multipart/form-data',
                                },
                                onUploadProgress: function( progressEvent ) {
                                  var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                  $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                                },
                            }
                        )
                        .then(response => {
                            Toast.fire({
                                type: 'success',
                                title: 'Data updated successfully'
                            })
                            self.$Progress.finish();
                        })
                        .catch(error => {
                            let message = 'Something went wrong.';
                            if (error.response) {
                                message = error.response.data.message;
                                Swal.fire(
                                    'Alert!',
                                    message,
                                    'warning'
                                )
                            }
                            self.$Progress.fail();
                        });
                    } else {
                        let message = 'Alamat tidak valid.';
                        Swal.fire(
                            'Alert!',
                            message,
                            'warning'
                        )
                        self.$Progress.fail();
                    }
                })
                .catch(error => {
                });
            },
        },
        watch: {
        },
        activated() {
          let self = this
          self.selecteditemsProvince = []
          self.renderingCountProvince++
          self.loadProvince()
          Fire.$emit('AfterLoaded');
        },
    }
</script>
