<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Umum</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Pengaturan</a></li>
                <li class="breadcrumb-item active">Umum</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                              <button type="button" class="btn btn-primary" @click="goback">
                                  <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Kembali ke layout
                              </button>
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" class="" @submit.prevent="submitData">

                                <div class="form-group row">
                                    <div class="col-sm-6 border-right">
                                        <input type="text" class="d-none" name="id_subuh" id="id_subuh" v-model="form.id_subuh" :class="{ 'is-invalid': form.errors.has('id_subuh') }">
                                        <has-error :form="form" field="id_subuh"></has-error>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-center text-uppercase">
                                                <h4>Subuh</h4><br>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="azan_duration_subuh" class="col-sm-6 col-form-label">
                                                Durasi Azan
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="azan_duration_subuh" id="azan_duration_subuh" ref="azan_duration_subuh" placeholder="Durasi Azan" v-model="form.azan_duration_subuh" :class="{ 'is-invalid': form.errors.has('azan_duration_subuh') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="azan_duration_subuh"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="iqamat_duration_subuh" class="col-sm-6 col-form-label">
                                                Durasi Iqamat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="iqamat_duration_subuh" id="iqamat_duration_subuh" ref="iqamat_duration_subuh" placeholder="Durasi Iqamat" v-model="form.iqamat_duration_subuh" :class="{ 'is-invalid': form.errors.has('azan_duration_subuh') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="iqamat_duration_subuh"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="solat_duration_subuh" class="col-sm-6 col-form-label">
                                                Durasi Solat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="solat_duration_subuh" id="solat_duration_subuh" ref="solat_duration_subuh" placeholder="Durasi Solat" v-model="form.solat_duration_subuh" :class="{ 'is-invalid': form.errors.has('azan_duration_subuh') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="solat_duration_subuh"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="d-none" name="id_zuhur" id="id_zuhur" v-model="form.id_zuhur" :class="{ 'is-invalid': form.errors.has('id_zuhur') }">
                                        <has-error :form="form" field="id_zuhur"></has-error>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-center text-uppercase">
                                                <h4>Zuhur</h4><br>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="azan_duration_zuhur" class="col-sm-6 col-form-label">
                                                Durasi Azan
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="azan_duration_zuhur" id="azan_duration_zuhur" ref="azan_duration_zuhur" placeholder="Durasi Azan" v-model="form.azan_duration_zuhur" :class="{ 'is-invalid': form.errors.has('azan_duration_zuhur') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="azan_duration_zuhur"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="iqamat_duration_zuhur" class="col-sm-6 col-form-label">
                                                Durasi Iqamat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="iqamat_duration_zuhur" id="iqamat_duration_zuhur" ref="iqamat_duration_zuhur" placeholder="Durasi Iqamat" v-model="form.iqamat_duration_zuhur" :class="{ 'is-invalid': form.errors.has('azan_duration_zuhur') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="iqamat_duration_zuhur"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="solat_duration_zuhur" class="col-sm-6 col-form-label">
                                                Durasi Solat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="solat_duration_zuhur" id="solat_duration_zuhur" ref="solat_duration_zuhur" placeholder="Durasi Solat" v-model="form.solat_duration_zuhur" :class="{ 'is-invalid': form.errors.has('azan_duration_zuhur') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="solat_duration_zuhur"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="form-group row">
                                    <div class="col-sm-6 border-right">
                                        <input type="text" class="d-none" name="id_asar" id="id_asar" v-model="form.id_asar" :class="{ 'is-invalid': form.errors.has('id_asar') }">
                                        <has-error :form="form" field="id_asar"></has-error>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-center text-uppercase">
                                                <h4>Asar</h4><br>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="azan_duration_asar" class="col-sm-6 col-form-label">
                                                Durasi Azan
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="azan_duration_asar" id="azan_duration_asar" ref="azan_duration_asar" placeholder="Durasi Azan" v-model="form.azan_duration_asar" :class="{ 'is-invalid': form.errors.has('azan_duration_asar') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="azan_duration_asar"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="iqamat_duration_asar" class="col-sm-6 col-form-label">
                                                Durasi Iqamat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="iqamat_duration_asar" id="iqamat_duration_asar" ref="iqamat_duration_asar" placeholder="Durasi Iqamat" v-model="form.iqamat_duration_asar" :class="{ 'is-invalid': form.errors.has('azan_duration_asar') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="iqamat_duration_asar"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="solat_duration_asar" class="col-sm-6 col-form-label">
                                                Durasi Solat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="solat_duration_asar" id="solat_duration_asar" ref="solat_duration_asar" placeholder="Durasi Solat" v-model="form.solat_duration_asar" :class="{ 'is-invalid': form.errors.has('azan_duration_asar') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="solat_duration_asar"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="d-none" name="id_magrib" id="id_magrib" v-model="form.id_magrib" :class="{ 'is-invalid': form.errors.has('id_magrib') }">
                                        <has-error :form="form" field="id_magrib"></has-error>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-center text-uppercase">
                                                <h4>Magrib</h4><br>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="azan_duration_magrib" class="col-sm-6 col-form-label">
                                                Durasi Azan
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="azan_duration_magrib" id="azan_duration_magrib" ref="azan_duration_magrib" placeholder="Durasi Azan" v-model="form.azan_duration_magrib" :class="{ 'is-invalid': form.errors.has('azan_duration_magrib') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="azan_duration_magrib"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="iqamat_duration_magrib" class="col-sm-6 col-form-label">
                                                Durasi Iqamat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="iqamat_duration_magrib" id="iqamat_duration_magrib" ref="iqamat_duration_magrib" placeholder="Durasi Iqamat" v-model="form.iqamat_duration_magrib" :class="{ 'is-invalid': form.errors.has('azan_duration_magrib') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="iqamat_duration_magrib"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="solat_duration_magrib" class="col-sm-6 col-form-label">
                                                Durasi Solat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="solat_duration_magrib" id="solat_duration_magrib" ref="solat_duration_magrib" placeholder="Durasi Solat" v-model="form.solat_duration_magrib" :class="{ 'is-invalid': form.errors.has('azan_duration_magrib') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="solat_duration_magrib"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="form-group row">
                                    <div class="col-sm-6 border-right">
                                        <input type="text" class="d-none" name="id_isya" id="id_isya" v-model="form.id_isya" :class="{ 'is-invalid': form.errors.has('id_isya') }">
                                        <has-error :form="form" field="id_isya"></has-error>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-center text-uppercase">
                                                <h4>Isya</h4><br>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="azan_duration_isya" class="col-sm-6 col-form-label">
                                                Durasi Azan
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="azan_duration_isya" id="azan_duration_isya" ref="azan_duration_isya" placeholder="Durasi Azan" v-model="form.azan_duration_isya" :class="{ 'is-invalid': form.errors.has('azan_duration_isya') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="azan_duration_isya"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="iqamat_duration_isya" class="col-sm-6 col-form-label">
                                                Durasi Iqamat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="iqamat_duration_isya" id="iqamat_duration_isya" ref="iqamat_duration_isya" placeholder="Durasi Iqamat" v-model="form.iqamat_duration_isya" :class="{ 'is-invalid': form.errors.has('azan_duration_isya') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="iqamat_duration_isya"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="solat_duration_isya" class="col-sm-6 col-form-label">
                                                Durasi Solat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="solat_duration_isya" id="solat_duration_isya" ref="solat_duration_isya" placeholder="Durasi Solat" v-model="form.solat_duration_isya" :class="{ 'is-invalid': form.errors.has('azan_duration_isya') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="solat_duration_isya"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="d-none" name="id_jumat" id="id_jumat" v-model="form.id_jumat" :class="{ 'is-invalid': form.errors.has('id_jumat') }">
                                        <has-error :form="form" field="id_jumat"></has-error>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-center text-uppercase">
                                                <h4>Jumat</h4><br>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="set_jumat_start" class="col-sm-6 col-form-label">
                                                Atur Jam Mulai
                                            </label>
                                            <div class="col-sm-6">
                                                <div class="custom-control custom-switch pointer">
                                                    <input type="checkbox" class="custom-control-input" id="set_jumat_start" name="set_jumat_start" ref="set_jumat_start" v-model="form.set_jumat_start" :class="{ 'is-invalid': form.errors.has('set_jumat_start') }">
                                                    <label class="custom-control-label" for="set_jumat_start" v-if="!form.set_jumat_start">Tidak Aktif</label>
                                                    <label class="custom-control-label" for="set_jumat_start" v-else>Aktif</label>
                                                </div>
                                                <has-error :form="form" field="set_jumat_start"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row" v-if="form.set_jumat_start">
                                            <label for="start_at_jumat" class="col-sm-6 col-form-label">
                                                Jam Mulai
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="start_at_jumat" id="start_at_jumat" ref="start_at_jumat" placeholder="Jam Mulai" v-model="form.start_at_jumat" :class="{ 'is-invalid': form.errors.has('start_at_jumat') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="start_at_jumat"></has-error>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="solat_duration_jumat" class="col-sm-6 col-form-label">
                                                Durasi Solat
                                            </label>
                                            <div class="col-sm-6">
                                                <vue-timepicker name="solat_duration_jumat" id="solat_duration_jumat" ref="solat_duration_jumat" placeholder="Durasi Solat" v-model="form.solat_duration_jumat" :class="{ 'is-invalid': form.errors.has('azan_duration_jumat') }" format="HH:mm:ss" hide-clear-button required></vue-timepicker>
                                                <has-error :form="form" field="solat_duration_jumat"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="form-group row">
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-success">
                                            Simpan
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    import VueTimepicker from 'vuejs-timepicker'

    export default {
        created() {
            this.loadData()
            Fire.$on('AfterLoaded', () => {
                this.loadData()
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                form: new Form({
                    id_subuh: '',
                    start_at_subuh: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    azan_duration_subuh: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    iqamat_duration_subuh:  {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    solat_duration_subuh:  {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    id_zuhur: '',
                    start_at_zuhur: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    azan_duration_zuhur: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    iqamat_duration_zuhur: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    solat_duration_zuhur: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    id_asar: '',
                    start_at_asar: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    azan_duration_asar: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    iqamat_duration_asar: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    solat_duration_asar: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    id_magrib: '',
                    start_at_magrib: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    azan_duration_magrib: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    iqamat_duration_magrib: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    solat_duration_magrib: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    id_isya: '',
                    start_at_isya: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    azan_duration_isya: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    iqamat_duration_isya: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    solat_duration_isya: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    id_jumat: '',
                    start_at_jumat: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    azan_duration_jumat: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    iqamat_duration_jumat: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    solat_duration_jumat: {
                        HH: "00",
                        mm: "00",
                        ss: "00"
                    },
                    set_jumat_start: false,
                }),
            }
        },
        components: {
            VueTimepicker,
        },
        methods: {
            loadData() {
                let self = this

                self.deleteDefaultHeaders()

                axios.get(`${self.globalVar.apiUrl}setting/general`, {
                    params: {
                        acp: 'masjid'
                    },
                    headers: self.globalVar.headers
                })
                .then(response => {
                    let split = []
                    for (var i = 0; i < response.data.length; i++) {
                        if (response.data[i].name == 'subuh') {
                            self.form.id_subuh = response.data[i].id
                            split = response.data[i].start_at.split(":")
                            self.form.start_at_subuh = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].azan_duration.split(":")
                            self.form.azan_duration_subuh = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].iqamat_duration.split(":")
                            self.form.iqamat_duration_subuh = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].solat_duration.split(":")
                            self.form.solat_duration_subuh = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                        } else if (response.data[i].name == 'zuhur') {
                            self.form.id_zuhur = response.data[i].id
                            split = response.data[i].start_at.split(":")
                            self.form.start_at_zuhur = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].azan_duration.split(":")
                            self.form.azan_duration_zuhur = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].iqamat_duration.split(":")
                            self.form.iqamat_duration_zuhur = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].solat_duration.split(":")
                            self.form.solat_duration_zuhur = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                        } else if (response.data[i].name == 'asar') {
                            self.form.id_asar = response.data[i].id
                            split = response.data[i].start_at.split(":")
                            self.form.start_at_asar = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].azan_duration.split(":")
                            self.form.azan_duration_asar = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].iqamat_duration.split(":")
                            self.form.iqamat_duration_asar = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].solat_duration.split(":")
                            self.form.solat_duration_asar = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                        } else if (response.data[i].name == 'magrib') {
                            self.form.id_magrib = response.data[i].id
                            split = response.data[i].start_at.split(":")
                            self.form.start_at_magrib = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].azan_duration.split(":")
                            self.form.azan_duration_magrib = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].iqamat_duration.split(":")
                            self.form.iqamat_duration_magrib = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].solat_duration.split(":")
                            self.form.solat_duration_magrib = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                        } else if (response.data[i].name == 'isya') {
                            self.form.id_isya = response.data[i].id
                            split = response.data[i].start_at.split(":")
                            self.form.start_at_isya = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].azan_duration.split(":")
                            self.form.azan_duration_isya = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].iqamat_duration.split(":")
                            self.form.iqamat_duration_isya = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].solat_duration.split(":")
                            self.form.solat_duration_isya = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                        } else if (response.data[i].name == 'jumat') {
                            self.form.id_jumat = response.data[i].id
                            split = response.data[i].start_at.split(":")
                            self.form.start_at_jumat = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            self.form.set_jumat_start = true
                            if (self.form.start_at_jumat.HH == "00" && self.form.start_at_jumat.mm == "00" && self.form.start_at_jumat.ss == "00") {
                                self.form.set_jumat_start = false
                            }
                            split = response.data[i].azan_duration.split(":")
                            self.form.azan_duration_jumat = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].iqamat_duration.split(":")
                            self.form.iqamat_duration_jumat = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                            split = response.data[i].solat_duration.split(":")
                            self.form.solat_duration_jumat = {
                                HH: split[0],
                                mm: split[1],
                                ss: split[2]
                            }
                        }
                    }
                })
                .catch(error => {
                    if (error.response) {
                    }
                });
            },
            submitData() {
                let self = this
                console.log("===form", self.form);
                self.$Progress.start();

                this.deleteDefaultHeaders()

                self.$Progress.start();
                self.showProgressBar()
                // SUBUH
                axios.put(`${self.globalVar.apiUrl}setting/general/${self.form.id_subuh}`,
                    {
                        // name: 'subuh',
                        start_at: self.form.start_at_subuh.HH+':'+self.form.start_at_subuh.mm+':'+self.form.start_at_subuh.ss,
                        azan_duration: self.form.azan_duration_subuh.HH+':'+self.form.azan_duration_subuh.mm+':'+self.form.azan_duration_subuh.ss,
                        iqamat_duration:  self.form.iqamat_duration_subuh.HH+':'+self.form.iqamat_duration_subuh.mm+':'+self.form.iqamat_duration_subuh.ss,
                        solat_duration:  self.form.solat_duration_subuh.HH+':'+self.form.solat_duration_subuh.mm+':'+self.form.solat_duration_subuh.ss,
                    },
                    {
                        headers: self.globalVar.headers,
                        onUploadProgress: function( progressEvent ) {
                          var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100)) / 6;
                          $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                        },
                    }
                )
                .then(response => {
                    self.$Progress.finish();
                })
                .catch(error => {
                    self.$Progress.fail();
                });

                self.$Progress.start();
                // ZUHUR
                axios.put(`${self.globalVar.apiUrl}setting/general/${self.form.id_zuhur}`,
                    {
                        // name: 'zuhur',
                        start_at: self.form.start_at_zuhur.HH+':'+self.form.start_at_zuhur.mm+':'+self.form.start_at_zuhur.ss,
                        azan_duration: self.form.azan_duration_zuhur.HH+':'+self.form.azan_duration_zuhur.mm+':'+self.form.azan_duration_zuhur.ss,
                        iqamat_duration:  self.form.iqamat_duration_zuhur.HH+':'+self.form.iqamat_duration_zuhur.mm+':'+self.form.iqamat_duration_zuhur.ss,
                        solat_duration:  self.form.solat_duration_zuhur.HH+':'+self.form.solat_duration_zuhur.mm+':'+self.form.solat_duration_zuhur.ss,
                    },
                    {
                        headers: self.globalVar.headers,
                        onUploadProgress: function( progressEvent ) {
                          var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100)) / 6 + 15;
                          $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                        },
                    }
                )
                .then(response => {
                    self.$Progress.finish();
                })
                .catch(error => {
                    self.$Progress.fail();
                });

                self.$Progress.start();
                // ASAR
                axios.put(`${self.globalVar.apiUrl}setting/general/${self.form.id_asar}`,
                    {
                        // name: 'asar',
                        start_at: self.form.start_at_asar.HH+':'+self.form.start_at_asar.mm+':'+self.form.start_at_asar.ss,
                        azan_duration: self.form.azan_duration_asar.HH+':'+self.form.azan_duration_asar.mm+':'+self.form.azan_duration_asar.ss,
                        iqamat_duration:  self.form.iqamat_duration_asar.HH+':'+self.form.iqamat_duration_asar.mm+':'+self.form.iqamat_duration_asar.ss,
                        solat_duration:  self.form.solat_duration_asar.HH+':'+self.form.solat_duration_asar.mm+':'+self.form.solat_duration_asar.ss,
                    },
                    {
                        headers: self.globalVar.headers,
                        onUploadProgress: function( progressEvent ) {
                          var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100)) / 6 + 30;
                          $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                        },
                    }
                )
                .then(response => {
                    self.$Progress.finish();
                })
                .catch(error => {
                    self.$Progress.fail();
                });

                self.$Progress.start();
                // MAGRIB
                axios.put(`${self.globalVar.apiUrl}setting/general/${self.form.id_magrib}`,
                    {
                        // name: 'magrib',
                        start_at: self.form.start_at_magrib.HH+':'+self.form.start_at_magrib.mm+':'+self.form.start_at_magrib.ss,
                        azan_duration: self.form.azan_duration_magrib.HH+':'+self.form.azan_duration_magrib.mm+':'+self.form.azan_duration_magrib.ss,
                        iqamat_duration:  self.form.iqamat_duration_magrib.HH+':'+self.form.iqamat_duration_magrib.mm+':'+self.form.iqamat_duration_magrib.ss,
                        solat_duration:  self.form.solat_duration_magrib.HH+':'+self.form.solat_duration_magrib.mm+':'+self.form.solat_duration_magrib.ss,
                    },
                    {
                        headers: self.globalVar.headers,
                        onUploadProgress: function( progressEvent ) {
                          var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100)) / 6 + 45;
                          $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                        },
                    }
                )
                .then(response => {
                    self.$Progress.finish();
                })
                .catch(error => {
                    self.$Progress.fail();
                });

                self.$Progress.start();
                // ISYA
                axios.put(`${self.globalVar.apiUrl}setting/general/${self.form.id_isya}`,
                    {
                        // name: 'isya',
                        start_at: self.form.start_at_isya.HH+':'+self.form.start_at_isya.mm+':'+self.form.start_at_isya.ss,
                        azan_duration: self.form.azan_duration_isya.HH+':'+self.form.azan_duration_isya.mm+':'+self.form.azan_duration_isya.ss,
                        iqamat_duration:  self.form.iqamat_duration_isya.HH+':'+self.form.iqamat_duration_isya.mm+':'+self.form.iqamat_duration_isya.ss,
                        solat_duration:  self.form.solat_duration_isya.HH+':'+self.form.solat_duration_isya.mm+':'+self.form.solat_duration_isya.ss,
                    },
                    {
                        headers: self.globalVar.headers,
                        onUploadProgress: function( progressEvent ) {
                          var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100)) / 6 + 60;
                          $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                        },
                    }
                )
                .then(response => {
                    self.$Progress.finish();
                })
                .catch(error => {
                    self.$Progress.fail();
                });

                self.$Progress.start();
                // JUMAT
                axios.put(`${self.globalVar.apiUrl}setting/general/${self.form.id_jumat}`,
                    {
                        // name: 'jumat',
                        start_at: self.form.start_at_jumat.HH+':'+self.form.start_at_jumat.mm+':'+self.form.start_at_jumat.ss,
                        azan_duration: self.form.azan_duration_jumat.HH+':'+self.form.azan_duration_jumat.mm+':'+self.form.azan_duration_jumat.ss,
                        iqamat_duration:  self.form.iqamat_duration_jumat.HH+':'+self.form.iqamat_duration_jumat.mm+':'+self.form.iqamat_duration_jumat.ss,
                        solat_duration:  self.form.solat_duration_jumat.HH+':'+self.form.solat_duration_jumat.mm+':'+self.form.solat_duration_jumat.ss,
                    },
                    {
                        headers: self.globalVar.headers,
                        onUploadProgress: function( progressEvent ) {
                          var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100)) / 6 + 85;
                          $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                        },
                    }
                )
                .then(response => {
                    Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                    })
                    self.$Progress.finish();
                    Fire.$emit('AfterLoaded');
                    self.$Progress.finish();
                })
                .catch(error => {
                    self.$Progress.fail();
                });
            },
        },
        watch: {
            'form.set_jumat_start' (to, from) {
                if (to == false) {
                    this.form.start_at_jumat.HH = "00"
                    this.form.start_at_jumat.mm = "00"
                    this.form.start_at_jumat.ss = "00"
                }
            },
        },
        activated() {
          let self = this
          self.loadData()
          Fire.$emit('AfterLoaded');
        },
    }
</script>
