<template>
    <div>

        <div class="row p-3">
            <div class="col-12">
                <form id="formAdd" @submit.prevent="submitData">
                    <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                    <has-error :form="form" field="id"></has-error>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">
                            Nama
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                            <has-error :form="form" field="name"></has-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 col-form-label">
                            Username
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="username" id="username" ref="username" placeholder="Username" v-model="form.username" :class="{ 'is-invalid': form.errors.has('username') }" autocomplete="off" required :readonly="form.id ? true : false">
                            <has-error :form="form" field="username"></has-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-4 col-form-label">
                            Password
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input :type="showPassword ? 'text' : 'password'" class="form-control" name="password" id="password" ref="password" placeholder="Password" v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" autocomplete="off" :required="form.id ? false : true">
                                <div class="input-group-append" @click="changeShowPasswordStatus" style="cursor: pointer;">
                                    <span class="input-group-text">
                                        <i class="fas fa-eye-slash" v-if="!showPassword"></i>
                                        <i class="fas fa-eye" v-else></i>
                                    </span>
                                </div>
                            </div>
                            <small v-if="form.id" class="form-text text-muted">
                                Kosongkan jika tidak diganti.
                            </small>
                            <has-error :form="form" field="password"></has-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-success">
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        created() {
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                form: new Form({
                    id: this.$attrs.globalVar.session.id,
                    name: this.$attrs.globalVar.session.name,
                    username: this.$attrs.globalVar.session.username,
                    password: '',
                }),
                showPassword: false,
            }
        },
        components: {
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                this.deleteDefaultHeaders()

                let method = ''

                if (self.form.id) {
                    method = axios.put(`${self.globalVar.apiUrl}takmir/${self.form.id}`,
                        self.form,
                        {
                            headers: self.globalVar.headers,
                        }
                    )
                } else {
                    method = axios.post(`${self.globalVar.apiUrl}takmir`,
                        self.form,
                        {
                            headers: self.globalVar.headers,
                        }
                    )
                }

                method.then(response => {
                    Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                    })
                    self.$Progress.finish();

                    var formData = new FormData();
                    axios.post(`${self.globalVar.apiUrl}mosque-status/${self.globalVar.session.mosque.id}`,
                        formData,
                        {
                            headers:  {
                                'Authorization': localStorage.getItem('token'),
                                'Content-Type': 'application/json',
                            },
                        }
                    )
                    .then(response => {
                        this.checkAuth()
                    })
                    .catch(error => {
                    });
                })
                .catch(error => {
                    let message = 'Something went wrong.';
                    if (error.response) {
                        message = error.response.data.message;
                        Swal.fire(
                            'Alert!',
                            message,
                            'warning'
                        )
                    }
                    self.$Progress.fail();
                });
            },
            changeShowPasswordStatus() {
                if (this.showPassword) {
                    this.showPassword = false
                } else {
                    this.showPassword = true
                }
            },
        },
        watch: {
        },
        activated() {
          let self = this
          self.showPassword = false
        },
    }
</script>
