<template>
    <div>

      <div class="row p-4">
          <div class="col-12">
              <h5>
                  <b>Device tersedia:</b> {{ pagination.total }}/{{ globalVar.deviceAvailable }}
              </h5>
              <br>

              <div class="dataTables_wrapper scroll">
                  <div class="dataTables_length" id="tableData_length">
                      <label>Show
                          <select v-model="tableData.length" @change="loadData()">
                              <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                          </select>
                          entries
                      </label>
                  </div>

                  <div id="tableData_filter" class="dataTables_filter">
                      <label>Search:
                          <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                      </label>
                  </div>

                  <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                      <tbody v-if="dataTables.length != 0">
                          <tr v-for="(dataTable, index) in dataTables" :key="index">
                              <td>{{ index+1 }}</td>
                              <td v-if="dataTable.status_confirmation == 1">
                                  {{ dataTable.number | censored }}
                              </td>
                              <td v-else>
                                  {{ dataTable.number }}
                              </td>
                              <td v-if="dataTable.type == 1">
                                  Hanya Jam
                              </td>
                              <td v-else>
                                  Informatif
                              </td>
                              <td>{{ dataTable.otp }}</td>
                              <td>{{ dataTable.otp_valid | formatDateTime }}</td>
                              <td v-if="dataTable.status_confirmation == 1">
                                  <span class="badge badge-warning">Menunggu Persetujuan</span>
                              </td>
                              <td v-else>
                                  <span class="badge badge-success">Terverifikasi</span>
                              </td>
                              <td v-if="dataTable.application_version >= globalVar.session.mosque.version">
                                  <span class="badge badge-success">Terbaru</span>
                              </td>
                              <td v-else>
                                  <span class="badge badge-warning pointer" @click="showUpdateAlert">Butuh Pembaruan</span>
                              </td>
                              <td v-html="statusLabel(dataTable.status)"></td>
                              <td class="text-center">
                                  <button type="button" class="btn btn-success btn-sm" title="Verifikasi" @click="openModalVerification(dataTable)" v-if="dataTable.status_confirmation == 1">
                                      <i class="fas fa-check-circle"></i>
                                  </button>
                                  <button type="button" class="btn btn-success btn-sm" title="Generate Ulang OTP" @click="generateOtp(dataTable)" v-if="dataTable.status_confirmation == 2">
                                      <i class="fas fa-sync-alt"></i>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-sm" title="Non Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status_confirmation == 2 && dataTable.status == 1">
                                      <i class="fas fa-ban"></i>
                                  </button>
                                  <button type="button" class="btn btn-success btn-sm" title="Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status_confirmation == 2 && dataTable.status == 0">
                                      <i class="fas fa-check-circle"></i>
                                  </button>
                                  <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)" v-if="dataTable.status_confirmation == 2">
                                      <i class="fas fa-edit"></i>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                      <i class="fas fa-trash-alt"></i>
                                  </button>
                                  <!-- <router-link class="btn btn-primary btn-sm" to="/device/layout" title="Edit Layout" v-if="dataTable.status_confirmation == 2">
                                  <i class="fas fa-tv"></i>
                              </router-link> -->
                          </td>
                      </tr>
                  </tbody>
                  <tbody v-else>
                      <tr>
                          <td colspan="9" class="text-center">
                              Tidak ada data yang cocok ditemukan
                          </td>
                      </tr>
                  </tbody>
              </datatable>

                  <pagination :pagination="pagination" @prev="loadData(pagination.prevPageUrl)" @next="loadData(pagination.nextPageUrl)">
                  </pagination>

              </div>

          </div>
      </div>

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalFormVerification" role="dialog" aria-labelledby="modalFormVerificationLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormVerificationLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAddVerification" @submit.prevent="submitDataVerification">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id_verification" v-model="formVerification.id" :class="{ 'is-invalid': formVerification.errors.has('id') }">
                  <has-error :form="formVerification" field="id"></has-error>
                  <div class="form-group row">
                      <label for="number_verification" class="col-sm-4 col-form-label">
                          Id Media TV
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="number" id="number_verification" ref="number_verification" placeholder="Id Media TV" v-model="formVerification.number" :class="{ 'is-invalid': formVerification.errors.has('number') }" autocomplete="off" required>
                          <has-error :form="formVerification" field="number"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="type" class="col-sm-4 col-form-label">
                        Tipe
                    </label>
                    <div class="col-sm-8" :key="renderingCountType2">
                      <select2 url="" name="type2" :selecteditems="selecteditemsType2" identifier="type2" placeholder="Tipe" ref="type2" @changed="changeType2" required>
                      </select2>
                      <has-error :form="formVerification" field="type"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                      <label for="number" class="col-sm-4 col-form-label">
                          Id Media TV
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Id Media TV" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" required :readonly="form.id ? true : false">
                          <has-error :form="form" field="number"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">
                        Nama
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="type" class="col-sm-4 col-form-label">
                        Tipe
                    </label>
                    <div class="col-sm-8" :key="renderingCountType">
                      <select2 url="" name="type" :selecteditems="selecteditemsType" identifier="type" placeholder="Tipe" ref="type" @changed="changeType" required>
                      </select2>
                      <has-error :form="form" field="type"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    export default {
          created() {
              this.loadData();
              Fire.$on('AfterLoaded', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Id Media TV', name: 'number', sortable: true},
                  {label: 'Tipe', name: 'type', sortable: true},
                  {label: 'OTP', name: 'otp', sortable: true},
                  {label: 'OTP Valid', name: 'otp_valid', sortable: true},
                  {label: 'Konfirmasi', name: 'status_confirmation', sortable: true},
                  {label: 'Versi Aplikasi', name: 'application_version', sortable: true},
                  {label: 'Status', name: 'status', sortable: true},
                  {width: '25%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCountType: 0,
                  selecteditemsType: [
                      {
                          id: 2,
                          name: 'Informatif'
                      },
                      {
                          id: 1,
                          name: 'Hanya Jam'
                      },
                  ],
                  renderingCountType2: 0,
                  selecteditemsType2: [
                      {
                          id: 2,
                          name: 'Informatif'
                      },
                      {
                          id: 1,
                          name: 'Hanya Jam'
                      },
                  ],
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      acp: 'masjid',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      number: '',
                      name: '',
                      type: '',
                  }),
                  formVerification: new Form({
                      id: '',
                      number: '',
                      type: '',
                  }),
              }
          },
          methods: {
              changeType() {
                  let self = this
                  let typeId = 0
                  if ($("#type").select2('data')[0]) {
                      typeId = $("#type").select2('data')[0].id
                  }

                  self.form.type = parseInt(typeId)
              },
              changeType2() {
                  let self = this
                  let typeId = 0
                  if ($("#type2").select2('data')[0]) {
                      typeId = $("#type2").select2('data')[0].id
                  }

                  self.formVerification.type = parseInt(typeId)
              },
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData() {
                  let self = this
                  self.deleteDefaultHeaders()

                  self.tableData.draw++;
                  axios.get(`${self.globalVar.apiUrl}device`, {
                    params: self.tableData,
                    headers: self.globalVar.headers,
                  })
                  .then(response => {
                      let data = response.data;
                      if (self.tableData.draw == data.draw) {
                          self.dataTables = data.data.data;
                          self.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              openModalVerification(data = null) {
                  $("#type2").select2("destroy")
                  this.formVerification.clear();
                  this.formVerification.reset();
                  $("#modalFormVerification").modal("show");
                  if (data) {
                      this.formVerification.id = data.id;
                      document.getElementById("type2").selectedIndex = 0
                  }
                  $("#type2").select2({
                      width: '100%'
                  })
                  this.changeType2()
                  setTimeout(() => {
                      this.$refs.number_verification.focus();
                  }, 400);
              },
              submitDataVerification() {
                  let self = this
                  self.$Progress.start();
                  self.showProgressBar()

                  this.deleteDefaultHeaders()

                  axios.put(`${self.globalVar.apiUrl}device/verification/${self.formVerification.id}`,
                      self.formVerification,
                      {
                          headers: self.globalVar.headers,
                          onUploadProgress: function( progressEvent ) {
                            var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                            $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                          },
                      }
                  ).then(response => {
                      Toast.fire({
                          type: 'success',
                          title: 'OTP generate successfully'
                      })
                      self.$Progress.finish();
                      Fire.$emit('AfterLoaded');
                      $("#modalFormVerification").modal("hide");
                  })
                  .catch(error => {
                      let message = 'Something went wrong.';
                      if (error.response) {
                          message = error.response.data.message;
                          Swal.fire(
                              'Alert!',
                              message,
                              'warning'
                          )
                      }
                      self.$Progress.fail();
                  });
              },
              generateOtp(data) {
                  let self = this

                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'OTP will be regenerate.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.get(`${self.globalVar.apiUrl}device/otp/regenerate/${data.id}`, {
                              headers: self.globalVar.headers,
                          })
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              let message = 'Something went wrong.';
                              if (error.response) {
                                  message = error.response.data.message;
                                  Swal.fire(
                                      'Alert!',
                                      message,
                                      'warning'
                                  )
                              }
                          });
                      }
                  })
              },
              openModal(data = null) {
                  $("#type").select2("destroy")
                  this.form.clear();
                  this.form.reset();
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                      if (this.form.type == 1) {
                        document.getElementById("type").selectedIndex = 1
                      } else {
                        document.getElementById("type").selectedIndex = 0
                      }
                  }
                  $("#type").select2({
                      width: '100%'
                  })
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              submitData() {
                  let self = this
                  self.$Progress.start();
                  self.showProgressBar()

                  this.deleteDefaultHeaders()

                  let method = ''

                  if (self.form.id) {
                      method = axios.put(`${self.globalVar.apiUrl}device/${self.form.id}`,
                          self.form,
                          {
                              headers: self.globalVar.headers,
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  } else {
                      method = axios.post(`${self.globalVar.apiUrl}device`,
                          self.form,
                          {
                              headers: self.globalVar.headers,
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  }

                  method.then(response => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      Fire.$emit('AfterLoaded');
                      $("#modalForm").modal("hide");
                  })
                  .catch(error => {
                      let message = 'Something went wrong.';
                      if (error.response) {
                          message = error.response.data.message;
                          Swal.fire(
                              'Alert!',
                              message,
                              'warning'
                          )
                      }
                      self.$Progress.fail();
                  });
              },
              activeData(data) {
                  let self = this

                  let status = 0
                  let text = 'Record will be Deactivated'
                  if (data.status == 0) {
                      status = 1
                      text = 'Record will be Activated'
                  }

                  Swal.fire({
                      title: 'Are you sure?',
                      text: text,
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.put(`${self.globalVar.apiUrl}device/status/${data.id}`,
                              {
                                  status: status,
                              },
                              {
                                  headers: self.globalVar.headers,
                              }
                          )
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              deleteData(data) {
                  let self = this

                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.delete(`${self.globalVar.apiUrl}device/${data.id}`, {
                              headers: self.globalVar.headers,
                          })
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              showUpdateAlert() {
                  Swal.fire(
                      'Alert!',
                      'Perbarui versi aplikasi dari device untuk mendapatkan update terbaru.',
                      'warning'
                  )
              },
          },
          filters: {
              censored: function (id) {
                  let random = Math.floor(Math.random() * (id.length - 1)) + 1
                  let idx = 0
                  let formatted = ''
                  for (var i = 0; i < id.length; i++) {
                      if (i < 4) {
                          formatted += id[i]
                      } else if (i == (id.length - 4)) {
                          formatted += id[i]
                      } else if (i == (id.length - 3)) {
                          formatted += id[i]
                      } else if (i == (id.length - 2)) {
                          formatted += id[i]
                      } else if (i == (id.length - 1)) {
                          formatted += id[i]
                      } else {
                          formatted += 'X'
                      }
                  }
                  return formatted
              },
          },
          activated() {
              let self = this
              Fire.$emit('AfterLoaded');
          },
    }
</script>
