<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Teks Arab dan Terjemahan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Teks</a></li>
                <li class="breadcrumb-item active">Teks Arab dan Terjemahan</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <button type="button" class="btn btn-primary" @click="goback">
                                  <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Kembali ke layout
                                </button>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ dataTable.arabic }}</td>
                                        <td>{{ dataTable.translate }}</td>
                                        <td v-if="dataTable.location == 1">
                                            Adzan
                                        </td>
                                        <td v-else>
                                            Berjalan
                                        </td>
                                        <td>{{ dataTable.start_at | formatDate }}</td>
                                        <td v-if="dataTable.always_show == 0">
                                          {{ dataTable.end_at | formatDate }}
                                        </td>
                                        <td v-else>
                                          -
                                        </td>
                                        <td v-html="statusLabelWithDate(dataTable)"></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm" title="Non Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 1">
                                              <i class="fas fa-ban"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm" title="Aktifkan" @click="activeData(dataTable)" v-if="dataTable.status == 0">
                                              <i class="fas fa-check-circle"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="8" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel" v-if="!form.id">
                Tambah Data Teks Arab
              </h5>
              <h5 class="modal-title" id="modalFormLabel" v-else>
                Ubah Data Teks Arab
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                      <label for="arabic" class="col-sm-4 col-form-label">
                          Teks Arab
                      </label>
                      <div class="col-sm-8">
                          <textarea class="form-control" name="arabic" id="arabic" ref="arabic" :class="{ 'is-invalid': form.errors.has('arabic') }" v-model="form.arabic" rows="4" placeholder="Teks Arab" required></textarea>
                          <has-error :form="form" field="arabic"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="translate" class="col-sm-4 col-form-label">
                          Arti
                      </label>
                      <div class="col-sm-8">
                          <textarea class="form-control" name="translate" id="translate" ref="translate" :class="{ 'is-invalid': form.errors.has('translate') }" v-model="form.translate" rows="4" placeholder="Arti Terjemahan" required></textarea>
                          <has-error :form="form" field="translate"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="origin" class="col-sm-4 col-form-label">
                          Periwayat
                      </label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" name="origin" id="origin" ref="origin" placeholder="Periwayat" v-model="form.origin" :class="{ 'is-invalid': form.errors.has('origin') }" autocomplete="off" required>
                          <has-error :form="form" field="origin"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="location" class="col-sm-4 col-form-label">
                        Lokasi
                    </label>
                    <div class="col-sm-8" :key="renderingCountLocation">
                      <select2 url="" name="location" :selecteditems="selecteditemsLocation" identifier="location" placeholder="Lokasi" ref="location" @changed="changeLocation" required>
                      </select2>
                      <has-error :form="form" field="location"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="start_at" class="col-sm-4 col-form-label">
                          Tanggal Mulai
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="start_at" id="start_at" ref="start_at" placeholder="Tanggal Mulai" v-model="form.start_at" :class="{ 'is-invalid': form.errors.has('start_at') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="start_at"></has-error>
                      </div>
                  </div>
                  <div class="form-group row" :class="(form.always_show) ? 'd-none' : ''">
                      <label for="end_at" class="col-sm-4 col-form-label">
                          Tanggal Selesai
                      </label>
                      <div class="col-sm-8">
                          <datepicker input-class="form-control" name="end_at" id="end_at" ref="end_at" placeholder="Tanggal Selesai" v-model="form.end_at" :class="{ 'is-invalid': form.errors.has('end_at') }" autocomplete="off" :format="formatDateDefault" required></datepicker>
                          <has-error :form="form" field="end_at"></has-error>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="always_show" class="col-sm-4 col-form-label">
                      Selalu Ditampilkan
                    </label>
                    <div class="col-sm-8">
                      <div class="custom-control custom-switch pointer">
                        <input type="checkbox" class="custom-control-input" id="always_show" name="always_show" ref="always_show" v-model="form.always_show" :class="{ 'is-invalid': form.errors.has('always_show') }">
                        <label class="custom-control-label" for="always_show" v-if="!form.always_show">Tidak Aktif</label>
                        <label class="custom-control-label" for="always_show" v-else>Aktif</label>
                      </div>
                      <has-error :form="form" field="always_show"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'

    let date = new Date();

    export default {
          created() {
              this.loadData();
              Fire.$on('AfterLoaded', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Teks Arab', name: 'arabic', sortable: true},
                  {label: 'Arti', name: 'translate', sortable: true},
                  {label: 'Lokasi', name: 'location', sortable: true},
                  {label: 'Mulai', name: 'start_at', sortable: true},
                  {label: 'Selesai', name: 'end_at', sortable: true},
                  {label: 'Status', name: 'status', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCountLocation: 0,
                  selecteditemsLocation: [
                      {
                          id: 1,
                          name: 'Adzan'
                      },
                      {
                          id: 2,
                          name: 'Berjalan'
                      },
                  ],
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      acp: 'masjid',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      arabic: '',
                      translate: '',
                      origin: '',
                      start_at: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                      end_at: new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())),
                      location: '',
                      always_show: false,
                  }),
              }
          },
          components: {
              Datepicker,
          },
          methods: {
              changeLocation() {
                  let self = this
                  let locationId = 0
                  if ($("#location").select2('data')[0]) {
                      locationId = $("#location").select2('data')[0].id
                  }

                  self.form.location = parseInt(locationId)
              },
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData() {
                  let self = this
                  self.deleteDefaultHeaders()

                  self.tableData.draw++;
                  axios.get(`${self.globalVar.apiUrl}text/arabic`, {
                    params: self.tableData,
                    headers: self.globalVar.headers,
                  })
                  .then(response => {
                      let data = response.data;
                      if (self.tableData.draw == data.draw) {
                          self.dataTables = data.data.data;
                          self.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              openModal(data = null) {
                  $("#location").select2("destroy")
                  this.form.clear();
                  this.form.reset();
                  this.form.start_at = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  this.form.end_at = new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate()))
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                      if (this.form.location == 1) {
                          document.getElementById("location").selectedIndex = 0
                      } else {
                          document.getElementById("location").selectedIndex = 1
                      }
                      if (!data.start_at) {
                        this.form.start_at = this.formatDateDefault(new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())))
                      }
                      if (!data.end_at) {
                        this.form.end_at = this.formatDateDefault(new Date(new Date(date.getFullYear(), date.getMonth(), date.getDate())))
                      }
                  }
                  $("#location").select2({
                      width: '100%'
                  })
                  setTimeout(() => {
                      this.$refs.arabic.focus();
                  }, 400);
              },
              submitData() {
                  let self = this
                  self.$Progress.start();
                  self.showProgressBar()

                  this.deleteDefaultHeaders()

                  let method = ''
                  self.form.start_at = self.formatDateDefault(self.form.start_at)
                  self.form.end_at = self.formatDateDefault(self.form.end_at)
                  this.form.location = $("#location").select2('data')[0].id;

                  if (self.form.id) {
                      method = axios.put(`${self.globalVar.apiUrl}text/arabic/${self.form.id}`,
                          self.form,
                          {
                              headers: self.globalVar.headers,
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  } else {
                      method = axios.post(`${self.globalVar.apiUrl}text/arabic`,
                          self.form,
                          {
                              headers: self.globalVar.headers,
                              onUploadProgress: function( progressEvent ) {
                                var progressValue = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                                $("#progress").attr("aria-valuenow", progressValue).css("width", progressValue+"%");
                              },
                          }
                      )
                  }

                  method.then(response => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      Fire.$emit('AfterLoaded');
                      self.showPassword = false
                      $("#modalForm").modal("hide");
                  })
                  .catch(error => {
                      let message = 'Something went wrong.';
                      if (error.response) {
                          message = error.response.data.message;
                          Swal.fire(
                              'Alert!',
                              message,
                              'warning'
                          )
                      }
                      self.$Progress.fail();
                  });
              },
              activeData(data) {
                  let self = this

                  let status = 0
                  let text = 'Record will be Deactivated'
                  if (data.status == 0) {
                      status = 1
                      text = 'Record will be Activated'
                  }

                  Swal.fire({
                      title: 'Are you sure?',
                      text: text,
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.put(`${self.globalVar.apiUrl}text/arabic/status/${data.id}`,
                              {
                                  status: status,
                              },
                              {
                                  headers: self.globalVar.headers,
                              }
                          )
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              deleteData(data) {
                  let self = this

                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {

                          this.deleteDefaultHeaders()

                          axios.delete(`${self.globalVar.apiUrl}text/arabic/${data.id}`, {
                              headers: self.globalVar.headers,
                          })
                          .then(function (response) {
                              Toast.fire({
                                  type: 'success',
                                  title: 'Data saved successfully'
                              })
                              Fire.$emit('AfterLoaded');
                          })
                          .catch(function (error) {
                              Swal.fire(
                                  'Alert!',
                                  'Something went wrong.',
                                  'warning'
                              )
                          });
                      }
                  })
              },
              statusLabelWithDate(data) {
                  if (data.status == 0) {
                      return '<span class="badge badge-danger">Non Aktif</span>';
                  } else {
                    if (data.always_show == 1) {
                      return '<span class="badge badge-success">Aktif</span>';
                    } else {
                      if (moment(data.start_at).isAfter(moment())) {
                          return '<span class="badge badge-warning">Pending</span>';
                      } else if (moment(data.end_at).isBefore(moment())) {
                          return '<span class="badge badge-danger">Expired</span>';
                      } else {
                          return '<span class="badge badge-success">Aktif</span>';
                      }
                    }
                  }
              },
          },
          watch: {
              'form.start_at' (to, from) {
                  let start_at = moment(this.form.start_at);
                  let end_at = moment(this.form.end_at);

                  if (moment(start_at).isAfter(end_at)) {
                      this.form.start_at = this.formatDateDefault(end_at)
                  }
              },
              'form.end_at' (to, from) {
                  let start_at = moment(this.form.start_at);
                  let end_at = moment(this.form.end_at);

                  if (moment(end_at).isBefore(start_at)) {
                      this.form.end_at = this.formatDateDefault(start_at)
                  }
              },
          },
          activated() {
              let self = this
              Fire.$emit('AfterLoaded');
          },
    }
</script>
