<template>
    <div>

      <!-- Main content -->
      <section class="content pt-3 pb-5">
        <div class="container-fluid">

        <div class="row">
          <div class="col-12">

              <div id="smartwizard" class="sw-main sw-theme-arrows">

                  <ul class="nav nav-tabs step-anchor">
                      <li class="nav-item" ref="navStep1" style="width: calc(100% / 4);" :class="(globalVar.statusVerification >= -4) ? 'active' : ''">
                          <a href="javascript:;" class="nav-link">
                              Tahap 1<br><b>Pengisian Informasi Masjid</b>
                          </a>
                      </li>
                      <li class="nav-item" ref="navStep2" style="width: calc(100% / 4);" :class="(globalVar.statusVerification >= -3) ? 'active' : ''">
                          <a href="javascript:;" class="nav-link">
                              Tahap 2<br><b>Ubah Password Akun Takmir</b>
                          </a>
                      </li>
                      <li class="nav-item" ref="navStep3" style="width: calc(100% / 4);" :class="(globalVar.statusVerification >= -2) ? 'active' : ''">
                          <a href="javascript:;" class="nav-link">
                              Tahap 3<br><b>Penambahan Akun Takmir</b>
                          </a>
                      </li>
                      <li class="nav-item" ref="navStep4" style="width: calc(100% / 4);" :class="(globalVar.statusVerification >= -1) ? 'active' : ''">
                          <a href="javascript:;" class="nav-link">
                              Tahap 4<br><b>Halaman Media TV</b>
                          </a>
                      </li>
                  </ul>

                  <div class="sw-container tab-content" style="min-height: 166px;">
                      <div class="tab-pane step-content" style="display: block;">
                          <keep-alive>
                              <component :is="component" :globalVar="globalVar"/>
                          </keep-alive>
                      </div>
                  </div>

                  <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
                      <div class="btn-group mr-2 sw-btn-group" role="group" v-if="globalVar.statusVerification > -4">
                          <button class="btn btn-secondary sw-btn-prev" type="button" :class="(component == 'Step1') ? 'disabled' : ''" @click="changedStepPrev">
                              Sebelumnya
                          </button>
                          <button class="btn btn-secondary sw-btn-next" type="button" v-if="component != 'Step4'" @click="changedStepNext">
                              Selanjutnya
                          </button>
                          <button class="btn btn-success sw-btn-next" type="button" v-if="component == 'Step4'" @click="changedStepNext">
                              Selesai
                          </button>
                      </div>
                  </div>

              </div>

          </div>
          <!-- /.col -->
        </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
</template>

<script>

    const Step1 = () => import(/* webpackChunkName: "js/step1-verification" */ './Step1.vue')
    const Step2 = () => import(/* webpackChunkName: "js/step2-verification" */ './Step2.vue')
    const Step3 = () => import(/* webpackChunkName: "js/step3-verification" */ './Step3.vue')
    const Step4 = () => import(/* webpackChunkName: "js/step4-verification" */ './Step4.vue')

    let date = new Date();

    export default {
          created() {
          },
          mounted() {
          },
          components: {
              Step1,
              Step2,
              Step3,
              Step4,
          },
          data() {
              return {
                  globalVar: this.$attrs.globalVar,
                  component: 'Step1',
              }
          },
          methods: {
              changedStepPrev() {
                  let self = this

                  if (self.component == 'Step2') {
                      self.component = 'Step1'
                  } else if (self.component == 'Step3') {
                      self.component = 'Step2'
                  } else if (self.component == 'Step4') {
                      self.component = 'Step3'
                  }
              },
              changedStepNext() {
                  let self = this
                  let changedStatus = false

                  if (self.component == 'Step1') {
                      if (self.globalVar.statusVerification == -4) {
                          changedStatus = true
                      }
                      self.component = 'Step2'
                  } else if (self.component == 'Step2') {
                      if (self.globalVar.statusVerification == -3) {
                          changedStatus = true
                      }
                      self.component = 'Step3'
                  } else if (self.component == 'Step3') {
                      if (self.globalVar.statusVerification == -2) {
                          changedStatus = true
                      }
                      self.component = 'Step4'
                  } else {
                      changedStatus = true
                  }

                  if (changedStatus) {
                      var formData = new FormData();
                      axios.post(`${self.globalVar.apiUrl}mosque-status/${self.globalVar.session.mosque.id}`,
                          formData,
                          {
                              headers:  {
                                  'Authorization': localStorage.getItem('token'),
                                  'Content-Type': 'application/json',
                              },
                          }
                      )
                      .then(response => {
                          self.checkAuth()
                          if (response.data.message.status == 1) {
                              self.$router.replace('/mosque')
                          }
                      })
                      .catch(error => {
                      });
                  }
              },
          },
          watch: {
              '$attrs.globalVar' (to, from) {
                  if (to.statusVerification == -4) {
                      this.component = 'Step1'
                  } else if (to.statusVerification == -3) {
                      this.component = 'Step2'
                  } else if (to.statusVerification == -2) {
                      this.component = 'Step3'
                  } else if (to.statusVerification == -1) {
                      this.component = 'Step4'
                  }
              }
          },
          activated() {
          },
    }
</script>
