<template>
    <div>

        <div class="login-box">
          <div class="login-logo">
            <img :src="`${globalVar.publicPath}images/logo2.png`" class="brand-image" style="width: 50%; margin: 10px 0;">
            <br>
            {{ globalVar.appName }}
          </div>
          <!-- /.login-logo -->
          <div class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Sign in to start your session</p>

              <form @submit.prevent="submitData">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Id Masjid" :class="{ 'is-invalid': form.errors.has('mosque_number') }" v-model="form.mosque_number" autocomplete="off" autofocus required/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-mosque"></span>
                    </div>
                  </div>
                </div>
                <has-error :form="form" field="mosque_number"></has-error>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Username" :class="{ 'is-invalid': form.errors.has('username') }" v-model="form.username" autocomplete="off" autofocus required/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user"></span>
                    </div>
                  </div>
                </div>
                <has-error :form="form" field="username"></has-error>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" :class="{ 'is-invalid': form.errors.has('password') }" v-model="form.password" autocomplete="off" required/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <has-error :form="form" field="password"></has-error>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary form-check">
                      <input type="checkbox" class="form-check-input" id="remember" name="remember" v-model="form.remember"/>
                      <label for="remember" class="form-check-label">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
            </div>
            <!-- /.login-card-body -->
          </div>
        </div>
        <!-- /.login-box -->

    </div>
</template>

<script>
    export default {
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                csrf: document.head.querySelector('meta[name="csrf-token"]').content,
                form: new Form({
                    mosque_number: '',
                    username: '',
                    password: '',
                    remember: '',
                })
            }
        },
        methods: {
          submitData() {
              let self = this
              self.$Progress.start();

              delete axios.defaults.headers.common['X-CSRF-TOKEN'];
              delete axios.defaults.headers.common['X-Requested-With'];

              axios.post(`${self.globalVar.apiUrl}login`, {
                  mosque_number: self.form.mosque_number,
                  username: self.form.username,
                  password: self.form.password,
              })
              .then(response => {
                  Toast.fire({
                      type: 'success',
                      title: 'Login success'
                  })
                  self.$Progress.finish();
                  localStorage.setItem("token", 'Bearer '+response.data.token);
                  // window.location = '/mosque'
                  window.location = '/verification'
              })
              .catch(error => {
                  let message = 'Something went wrong.';
                  if (error.response) {
                      message = error.response.data.message;
                      Swal.fire(
                        'Alert!',
                        message,
                        'warning'
                      )
                      self.$Progress.fail();
                      self.form.password = '';
                      self.refreshTokens()
                  }
              });

              this.csrf = document.head.querySelector('meta[name="csrf-token"]').content
          }
        },
    }
</script>
