<template>
    <div>
        <transition>
            <keep-alive>
                <router-view :globalVar="globalVar"/>
            </keep-alive>
        </transition>
    </div>
</template>

<script>
    export default {
        created() {
            this.refreshTokens()
            this.checkAuth()
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar
            }
        }
    }
</script>
