<template>
    <div>
        <keep-alive>
            <component :is="component" :globalVar="globalVar"/>
        </keep-alive>
    </div>
</template>

<script>

    import { Form, HasError, AlertError } from 'vform'
    window.Form = Form;
    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    const AuthPage = () => import(/* webpackChunkName: "js/auth" */ './auth/Main.vue')
    const BackofficePage = () => import(/* webpackChunkName: "js/backoffice" */ './backoffice/Main.vue')

    window._ = require('underscore');

    export default {
        created() {
            this.refreshTokens()
            // this.checkAuth()
            setInterval(() => {
                this.refreshTokens()
                this.checkAuth()
            }, 300000)
            this.checkRoute()
        },
        mounted() {
            document.title = this.globalVar.appName
        },
        data() {
            return {
                routePath: this.$route.name,
                authPath: ['login'],
                backPath: [
                  'dashboard',
                  'mosque',
                  'takmir',
                  'device',
                  'text-running',
                  'text-info',
                  'text-arabic',
                  'preacher',
                  'donature',
                  'image-background',
                  // 'image-background-clock',
                  // 'image-photo',
                  'setting-general',
                  'content-informative',
                  'content-clock',
                  'event',
                  'verification',
                ],
                component: 'AuthPage',
                globalVar: {
                    appName: process.env.MIX_APP_NAME,
                    publicPath: process.env.MIX_BASE_URL,
                    apiUrl: process.env.MIX_API_URL,
                    apiStorage: process.env.MIX_API_STORAGE,
                    googleMapKey: process.env.MIX_GOOGLE_API_KEY,
                    session: null,
                    menu: null,
                    deviceAvailable: null,
                    statusVerification: -1,
                    fromLayout: 0,
                    headers: {
                        'Authorization': localStorage.getItem('token'),
                        'Content-Type': 'application/json',
                    },
                },
            }
        },
        components: {
            AuthPage,
            BackofficePage,
        },
        watch: {
            '$route' (to, from) {
                document.title = this.$route.meta.title + this.globalVar.appName
                this.routePath = to.name

                if (to.name == 'mosque' && _.contains(['content-informative', 'content-clock'], from.name)) {
                    setTimeout(function(){
                        $('.btn-back-mosque').removeClass('d-none')
                    }, 400);
                } else if (to.name == 'mosque' && !_.contains(['content-informative', 'content-clock'], from.name)) {
                    this.globalVar.fromLayout = 0
                    setTimeout(function(){
                        $('.btn-back-mosque').addClass('d-none')
                    }, 400);
                }

                if (_.contains(['content-clock'], from.name)) {
                    this.globalVar.fromLayout = 1
                } else if (_.contains(['content-informative'], from.name)) {
                    this.globalVar.fromLayout = 2
                }

                if (_.contains(['image-background'], to.name)) {
                    if (to.params.layout && to.params.layout == 'informative') {
                        document.title = "Gambar Slide | " + this.globalVar.appName
                    }
                }

                this.checkRoute()
                this.refreshTokens()
                // this.checkAuth()
            },
        },
        methods: {
            checkRoute () {
                if (_.contains(this.authPath, this.routePath)) {
                    $('body').removeClass();
                    $('body').addClass('hold-transition login-page');
                    this.component = AuthPage
                } else if (_.contains(this.backPath, this.routePath)) {
                    $('body').removeClass();
                    $('body').addClass('hold-transition sidebar-mini layout-fixed');
                    this.component = BackofficePage

                    if (this.routePath == 'content-informative' || this.routePath == 'content-clock') {
                        $('body').removeClass('sidebar-open');
                        $('body').addClass('sidebar-collapse');
                    } else {
                        $('body').removeClass('sidebar-collapse');
                        $('body').addClass('sidebar-open');
                    }
                }
                $('.modal').modal('hide')
            }
        }
    }
</script>
