<template>
    <div>
        <footer class="main-footer" :style="(globalVar.statusVerification < 0) ? 'margin: unset;' : ''">
            <strong>Copyright &copy; 2019 <a href="https://displaydigital.co.id">Display Digital</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
              <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        created() {
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
            }
        },
    }
</script>
