<template>
    <div>

      <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom" :style="(globalVar.statusVerification < 0) ? 'margin: unset; background-color: #343A40;' : ''">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item" v-if="globalVar.statusVerification >= 0">
            <a class="nav-link" data-widget="pushmenu" href="javascript:;">
              <i class="fas fa-bars"></i>
            </a>
          </li>
          <li v-else>
              <a class="brand-link" href="javascript:;" style="color: rgba(255,255,255,.8);">
                  <!-- <router-link class="brand-link" to="/mosque"> -->
                      <img :src="`${globalVar.publicPath}images/logo.png`" class="brand-image img-circle elevation-3" style="">
                      <span class="brand-text font-weight-light">
                          {{ globalVar.appName }}
                      </span>
                  <!-- </router-link> -->
              </a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto" v-if="globalVar.statusVerification < 0">
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item pointer">
              <a class="nav-link" style="color: rgba(255, 255, 255, 0.8); font-size: 16px;" @click="doLogout">
                  <i class="fas fa-power-off"></i>&nbsp;&nbsp;Sign Out
              </a>
          </li>
        </ul>
      </nav>

    </div>
</template>

<script>
    export default {
        created() {
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
            }
        },
    }
</script>
