<template>
    <div>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <router-link class="brand-link" to="/mosque">
          <img :src="`${globalVar.publicPath}images/logo.png`" class="brand-image img-circle elevation-3" style="">
          <span class="brand-text font-weight-light">
            {{ globalVar.appName }}
          </span>
        </router-link>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex" v-if="globalVar.session">
            <div class="image">
              <img :src="`${globalVar.publicPath}images/default.png`" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info sidebar-info" style="white-space: normal;">
              <a href="javascript:;" class="d-block">
                  <b> {{ globalVar.session.name }} </b>
              </a>
              <a href="javascript:;" class="d-block" style="font-size: 12px;">
                  {{ globalVar.session.mosque.name }}
              </a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item d-none">
                  <router-link class="nav-link" to="/dashboard">
                      <i class="fas fa-home"></i>
                      <p>&nbsp;&nbsp;
                          Dashboard
                      </p>
                  </router-link>
              </li>
              <li class="nav-item">
                  <router-link class="nav-link" to="/mosque">
                      <i class="fas fa-mosque"></i>
                      <p>&nbsp;&nbsp;
                          Informasi Masjid
                      </p>
                  </router-link>
              </li>
              <li class="nav-item">
                  <router-link class="nav-link" to="/takmir">
                      <i class="fas fa-users"></i>
                      <p>&nbsp;&nbsp;
                          Akun Takmir
                      </p>
                  </router-link>
              </li>
              <li class="nav-item">
                  <router-link class="nav-link" to="/device">
                      <i class="fas fa-tv"></i>
                      <p>&nbsp;&nbsp;
                          Media TV
                      </p>
                  </router-link>
              </li>
              <li class="nav-item has-treeview menu-layout" :class="{'menu-open': subIsActive('/content/information,/content/clock')}" @click="checkOpenMenu(1)">
                <a :class="`nav-link menuid-content`" href="javascript:;">
                  <i class="fas fa-columns"></i>
                  <p>&nbsp;&nbsp;
                    Konten Layout
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <!-- LOOP SUBMENU HERE -->
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="`/content/clock`">
                            <small>
                                <i class="fas fa-circle-notch"></i>
                                <p>&nbsp;&nbsp;
                                    Hanya Jam
                                </p>
                            </small>
                        </router-link>
                        <router-link class="nav-link" :to="`/content/informative`">
                            <small>
                                <i class="fas fa-circle-notch"></i>
                                <p>&nbsp;&nbsp;
                                    Informatif
                                </p>
                            </small>
                        </router-link>
                    </li>
                </ul>
              </li>
              <li class="nav-item d-none">
                  <router-link class="nav-link" to="/preacher">
                      <i class="fas fa-user-friends"></i>
                      <p>&nbsp;&nbsp;
                          Khotip dan Bilal
                      </p>
                  </router-link>
              </li>
              <li class="nav-item d-none">
                  <router-link class="nav-link" to="/donature">
                      <i class="fas fa-user-tie"></i>
                      <p>&nbsp;&nbsp;
                          Donatur
                      </p>
                  </router-link>
              </li>
              <!-- LOOP MENU HERE -->
              <li class="nav-item has-treeview d-none" :class="{'menu-open': subIsActive('/setting/general,/setting/advanced,/setting/location,/setting/praying-time')}">
                <a :class="`nav-link menuid-setting`" href="javascript:;">
                  <i class="fas fa-cogs"></i>
                  <p>&nbsp;&nbsp;
                    Pengaturan
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <!-- LOOP SUBMENU HERE -->
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="`/setting/general`">
                            <small>
                                <i class="fas fa-circle-notch"></i>
                                <p>&nbsp;&nbsp;
                                    Umum
                                </p>
                            </small>
                        </router-link>
                    </li>
                </ul>
              </li>
              <!-- LOOP MENU HERE -->
              <li class="nav-item has-treeview d-none" :class="{'menu-open': subIsActive('/text/running,/text/info,/text/arabic')}">
                <a :class="`nav-link menuid-text`" href="javascript:;">
                  <i class="fas fa-paragraph"></i>
                  <p>&nbsp;&nbsp;
                    Teks
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <!-- LOOP SUBMENU HERE -->
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <router-link class="nav-link" :to="`/text/running`">
                      <small>
                          <i class="fas fa-circle-notch"></i>
                          <p>&nbsp;&nbsp;
                              Teks Berjalan
                          </p>
                      </small>
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link class="nav-link" :to="`/text/info`">
                      <small>
                          <i class="fas fa-circle-notch"></i>
                          <p>&nbsp;&nbsp;
                              Pesan Singkat
                          </p>
                      </small>
                    </router-link>
                  </li>
                  <li class="nav-item">
                    <router-link class="nav-link" :to="`/text/arabic`">
                      <small>
                          <i class="fas fa-circle-notch"></i>
                          <p>&nbsp;&nbsp;
                              Teks Arab dan Terjemahan
                          </p>
                      </small>
                    </router-link>
                  </li>
                </ul>
              </li>
              <!-- LOOP MENU HERE -->
              <li class="nav-item has-treeview d-none" :class="{'menu-open': subIsActive('/image/background,/image/photo')}">
                <a :class="`nav-link menuid-text`" href="javascript:;">
                  <i class="fas fa-image"></i>
                  <p>&nbsp;&nbsp;
                    Gambar
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <!-- LOOP SUBMENU HERE -->
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <router-link class="nav-link" :to="`/image/background`">
                      <small>
                          <i class="fas fa-circle-notch"></i>
                          <p>&nbsp;&nbsp;
                              Slide Latar
                          </p>
                      </small>
                    </router-link>
                  </li>
                  <!-- <li class="nav-item">
                    <router-link class="nav-link" :to="`/image/photo`">
                      <small>
                          <i class="fas fa-circle-notch"></i>
                          <p>&nbsp;&nbsp;
                              Galeri Foto
                          </p>
                      </small>
                    </router-link>
                  </li> -->
                </ul>
              </li>
              <li class="nav-item">
                  <a href="javascript:;" class="nav-link" @click="doLogout">
                      <i class="fas fa-power-off"></i>
                      <p>&nbsp;&nbsp;
                          Sign Out
                      </p>
                  </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
        </aside>
    </div>
</template>

<script>
    export default {
        created() {
            // $(".has-treeview").click(function(){
            //     $(".has-treeview").not(this).each(function(){
            //         $(this).removeClass("menu-open");
            //         $(this).children("a").first().children(".fa-angle-down").first().removeClass("fa-angle-down").addClass("fa-angle-left");
            //         $(this).children(".nav-treeview").slideUp();
            //     });
            // });
        },
        mounted() {
            // $(".has-treeview").click(function(){
            //     $(".has-treeview").not(this).each(function(){
            //         $(this).removeClass("menu-open");
            //         $(this).children("a").first().children(".fa-angle-down").first().removeClass("fa-angle-down").addClass("fa-angle-left");
            //         $(this).children(".nav-treeview").slideUp();
            //     });
            // });
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
            }
        },
        methods: {
            subIsActive(params) {
                let input = params.split(',');
                const paths = Array.isArray(input) ? input : [input]
                return paths.some(path => {
                    return this.$route.path.indexOf(path) === 0 // current path starts with this path string
                })
            },
            checkOpenMenu(menu) {
              if (menu == 1) {
                  setTimeout(function(){
                    if ($(".menu-layout").hasClass("menu-open")) {
                        $('.menu-layout').removeClass('menu-open');
                        $('.menu-layout').children(".nav-treeview").slideUp();
                    } else {
                        $('.menu-layout').addClass('menu-open');
                        $('.menu-layout').children(".nav-treeview").slideDown();
                    }
                  }, 100);
              }
            },
        },
    }
</script>
